<div class="breadcrumb_wrapper" id="breadcrumb_wrapper">
    <div class="breadcrumb">
      <div class="settings">
        <div class="save_btn btn">ذخیره</div>
      </div>
      <div class="wigets" id="wigets"></div>
    </div>
  </div>
</div>
<div class="grid-wrapper" id="grid-wrapper">
  <div class="grid-basiscore" id="grid-basiscore">
    <div
      class="grid-basiscore-item exist_widgets"
      data-fixed="false"
      data-id="8"
      data-content="تغییر جلسه کاری"
      gs-x="0"
      gs-y="0"
      gs-w="6"
      gs-h="2"
      style="width: 791.5px; height: 250px; left: 0px; top: 0px"
    >
      <div class="grid-basiscore-content">
        <div class="widget_wrapper">
          <div class="widget_title">
            <span>تغییر زمان جلسه کاری</span>
            <div class="widget_buttons">
              <span class="delete_widget" onclick="delete_widget(this)">
                <i class="lni lni-close"></i>
              </span>
              <div class="widgetBtn"><i class="lni lni-save"></i> ذخیره</div>
            </div>
          </div>
          <div class="widget_body">
            <div class="schema_content">
              <form action="#" method="POST" id="">
                <div class="schema_row">
                  <div class="property_question">زمان جلسه کاری (ثانیه)</div>
                  <div class="property_answer">
                    <div class="answer">
                      <input
                        class="form_element"
                        name=""
                        id="session"
                        type="text"
                        value="2160000"
                      />
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clr"></div>
  </div>
  <div class="clr"></div>
</div>
