[data-bc-page-widget-list-dlg-btn-add] {
    float: left;
    color: #fff;
    font-size: 25px;
    margin-top: -38px;
    margin-left: 10px;
    z-index: 99999;
    cursor: pointer;
    position: relative;
}

[data-bc-page-widget-list-dlg-btn-close] {
    width: 18px;
    height: 18px;
    float: left;
    color: #fff;
    font-size: 18px;
    margin-top: -35px;
    margin-left: 60px;
    z-index: 99999;
    cursor: pointer;
    position: relative;
}

[data-bc-page-widget-list-dlg-btn-close]::after,
[data-bc-page-widget-list-dlg-btn-close]::before {
    top: 50%;
    content: '';
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    right: auto;
    position: absolute;
    left: 50%;
    bottom: auto;
    background-color: #fff;
    height: 20px;
    width: 2px;
}

[data-bc-page-widget-list-dlg-btn-close]::before {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    -o-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}

[data-bc-page-widget-list-dlg-btn-close]::after {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -o-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

/*  */
[data-bc-bp-workspace-container] {
    width: 100%;
    position: relative;
}

[data-bc-bp-workspace-container] * {
    box-sizing: border-box;
}

div[data-bc-page-body] {
    position: relative;
}

[data-bc-page-widget-list] {
    width: 100%;
    display: flex;
    direction: ltr;
    align-items: center;
    padding: 15px;
    justify-content: space-between;
    box-sizing: border-box;
    background: #fff;
}

[data-bc-page-widget-save-setting] {
    padding: 5px 10px;
    border: 1px solid #eee;
    border-radius: 5px;
    cursor: pointer;
    background: #fff;
    box-sizing: border-box;
    height: 40px;
    z-index: 99;
    margin-left: 0 !important;
}

[data-bc-page-widget-disablelist] {
    display: flex;
    z-index: 1;
}

[data-bc-page-widget-disablelist] div {
    padding: 5px 10px;
    border: 1px solid #eee;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 15px;
    z-index: 99;
}
