<div data-bc-task-list="">
    <div data-bc-task-list-alert="">
        <!-- <svg data-bc-task-list-icon="" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell">
            <path d="M22 17H2a3 3 0 0 0 3-3V9a7 7 0 0 1 14 0v5a3 3 0 0 0 3 3zm-8.27 4a2 2 0 0 1-3.46 0"></path>
        </svg> -->
        <svg width="18" height="12" viewBox="0 0 18 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.5125 4.53C14.0025 1.9425 11.73 0 9 0C6.8325 0 4.95 1.23 4.0125 3.03C1.755 3.27 0 5.1825 0 7.5C0 9.9825 2.0175 12 4.5 12H14.25C16.32 12 18 10.32 18 8.25C18 6.27 16.4625 4.665 14.5125 4.53ZM12.75 6.75L9 10.5L5.25 6.75H7.5V3.75H10.5V6.75H12.75Z" fill="#004B85" />
        </svg>
        <span data-bc-task-list-alarm="">
            0
        </span>
    </div>
    <div data-bc-task-list-dropdown-wrapper="">


        <div data-bc-task-list-dropdown="">
            <section data-bc-task-list-wrapper="">
                <div data-bc-task-list-contents="" data-bc-main-task-list="">
                    <!-- insert contents -->
                    <!-- <div data-bc-task-list-item="">
                    <div data-bc-task-list-info="">
                        <span data-bc-task-list-title="">آپلود فایل</span>
                        <span data-bc-task-list-percent="">60%</span>
                    </div>
                    <div data-bc-task-list-progress-content="">
                        <div data-bc-task-list-progress-view="">
                            <div data-bc-task-list-progress="">
                                <div data-bc-task-list-progress-bar="" style="width: 60%;"></div>
                            </div>
                        </div>
                        <div data-bc-task-list-btn="">
                            <svg width="10" height="10" viewBox="0 0 7 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 0V8.75L6.875 4.375L0 0Z" fill="#323232"/>
                                </svg>
                                
                                <svg width="10" height="10" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M13.3 0.710001C12.91 0.320001 12.28 0.320001 11.89 0.710001L6.99997 5.59L2.10997 0.700001C1.71997 0.310001 1.08997 0.310001 0.699971 0.700001C0.309971 1.09 0.309971 1.72 0.699971 2.11L5.58997 7L0.699971 11.89C0.309971 12.28 0.309971 12.91 0.699971 13.3C1.08997 13.69 1.71997 13.69 2.10997 13.3L6.99997 8.41L11.89 13.3C12.28 13.69 12.91 13.69 13.3 13.3C13.69 12.91 13.69 12.28 13.3 11.89L8.40997 7L13.3 2.11C13.68 1.73 13.68 1.09 13.3 0.710001Z" fill="#323232"/>
                                    </svg>
                        </div>
                    </div>
                </div>
                <div data-bc-task-list-item="">
                    <div data-bc-task-list-info="">
                        <span data-bc-task-list-title="">آپلود فایل</span>
                        <span data-bc-task-list-percent="">50%</span>
                    </div>
                    <div data-bc-task-list-progress-content="">
                        <div data-bc-task-list-progress-view="">
                            <div data-bc-task-list-progress="">
                                <div data-bc-task-list-progress-bar="" style="width: 50%;"></div>
                            </div>
                        </div>
                        <div data-bc-task-list-btn="">
                            <svg width="10" height="10" viewBox="0 0 7 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 0V8.75L6.875 4.375L0 0Z" fill="#323232"/>
                                </svg>
                                
                                <svg width="10" height="10" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M13.3 0.710001C12.91 0.320001 12.28 0.320001 11.89 0.710001L6.99997 5.59L2.10997 0.700001C1.71997 0.310001 1.08997 0.310001 0.699971 0.700001C0.309971 1.09 0.309971 1.72 0.699971 2.11L5.58997 7L0.699971 11.89C0.309971 12.28 0.309971 12.91 0.699971 13.3C1.08997 13.69 1.71997 13.69 2.10997 13.3L6.99997 8.41L11.89 13.3C12.28 13.69 12.91 13.69 13.3 13.3C13.69 12.91 13.69 12.28 13.3 11.89L8.40997 7L13.3 2.11C13.68 1.73 13.68 1.09 13.3 0.710001Z" fill="#323232"/>
                                    </svg>
                        </div>
                    </div>
                </div>
                <div data-bc-task-list-item="">
                    <div data-bc-task-list-info="">
                        <span data-bc-task-list-title="">آپلود فایل</span>
                        <span data-bc-task-list-percent="">75%</span>
                    </div>
                    <div data-bc-task-list-progress-content="">
                        <div data-bc-task-list-progress-view="">
                            <div data-bc-task-list-progress="">
                                <div data-bc-task-list-progress-bar="" style="width: 75%;"></div>
                            </div>
                        </div>
                        <div data-bc-task-list-btn="">
                            <svg width="10" height="10" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 8.00001H2.28571V7.62939e-06H0V8.00001ZM4.57143 7.62939e-06V8.00001H6.85714V7.62939e-06H4.57143Z" fill="#323232"/>
                                </svg>
                                
                                <svg width="10" height="10" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M13.3 0.710001C12.91 0.320001 12.28 0.320001 11.89 0.710001L6.99997 5.59L2.10997 0.700001C1.71997 0.310001 1.08997 0.310001 0.699971 0.700001C0.309971 1.09 0.309971 1.72 0.699971 2.11L5.58997 7L0.699971 11.89C0.309971 12.28 0.309971 12.91 0.699971 13.3C1.08997 13.69 1.71997 13.69 2.10997 13.3L6.99997 8.41L11.89 13.3C12.28 13.69 12.91 13.69 13.3 13.3C13.69 12.91 13.69 12.28 13.3 11.89L8.40997 7L13.3 2.11C13.68 1.73 13.68 1.09 13.3 0.710001Z" fill="#323232"/>
                                    </svg>
                                    
                        </div>
                    </div>
                </div>
                <div data-bc-task-list-item="">
                    <div data-bc-task-list-info="">
                        <span data-bc-task-list-title="">آپلود فایل</span>
                    </div>
                    <div data-bc-task-list-progress-content="">
                        <div data-bc-task-list-progress-view="">
                            <div data-bc-task-list-progress="">
                                <div data-bc-task-list-progress-bar="" style="width: 100%;"></div>
                            </div>
                        </div>
                        <div data-bc-task-list-btn="">
                            <svg width="10" height="10" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.3 0.710001C12.91 0.320001 12.28 0.320001 11.89 0.710001L6.99997 5.59L2.10997 0.700001C1.71997 0.310001 1.08997 0.310001 0.699971 0.700001C0.309971 1.09 0.309971 1.72 0.699971 2.11L5.58997 7L0.699971 11.89C0.309971 12.28 0.309971 12.91 0.699971 13.3C1.08997 13.69 1.71997 13.69 2.10997 13.3L6.99997 8.41L11.89 13.3C12.28 13.69 12.91 13.69 13.3 13.3C13.69 12.91 13.69 12.28 13.3 11.89L8.40997 7L13.3 2.11C13.68 1.73 13.68 1.09 13.3 0.710001Z" fill="#323232"/>
                                </svg>
                        </div>
                    </div>
                </div> -->
                
                    <div data-bc-task-list-noTask="">
                        در انتظار کار جدید
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>