<div data-bc-task-list="" data-bc-d1-task-list="">
    <div data-bc-task-list-alert="" data-bc-d1-task-list-alert="">
        <svg width="20" height="16" viewBox="0 0 24 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M19.35 6.04C18.67 2.59 15.64 0 12 0C9.11 0 6.6 1.64 5.35 4.04C2.34 4.36 0 6.91 0 10C0 13.31 2.69 16 6 16H19C21.76 16 24 13.76 24 11C24 8.36 21.95 6.22 19.35 6.04ZM19 14H6C3.79 14 2 12.21 2 10C2 7.95 3.53 6.24 5.56 6.03L6.63 5.92L7.13 4.97C8.08 3.14 9.94 2 12 2C14.62 2 16.88 3.86 17.39 6.43L17.69 7.93L19.22 8.04C20.78 8.14 22 9.45 22 11C22 12.65 20.65 14 19 14ZM8 9H10.55V12H13.45V9H16L12 5L8 9Z" fill="#004B85"/>
        </svg>
        <span data-bc-task-list-alarm="" data-bc-d1-task-list-alarm="">
            0
        </span>
    </div>
    <div data-bc-task-list-dropdown-wrapper="" data-bc-d1-task-list-dropdown-wrapper="">
        <div data-bc-task-list-dropdown="" data-bc-d1-task-list-dropdown="">
            <section data-bc-task-list-wrapper="" data-bc-d1-task-list-wrapper="">
                <div data-bc-task-list-contents="" data-bc-d1-task-list-contents="" data-bc-main-task-list="">
                    <!-- insert contents -->
                    <!-- <div data-bc-task-list-item="">
                    <div data-bc-task-list-info="">
                        <span data-bc-task-list-title="">آپلود فایل</span>
                        <span data-bc-task-list-percent="">60%</span>
                    </div>
                    <div data-bc-task-list-progress-content="">
                        <div data-bc-task-list-progress-view="">
                            <div data-bc-task-list-progress="">
                                <div data-bc-task-list-progress-bar="" style="width: 60%;"></div>
                            </div>
                        </div>
                        <div data-bc-task-list-btn="">
                            <svg width="10" height="10" viewBox="0 0 7 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 0V8.75L6.875 4.375L0 0Z" fill="#323232"/>
                                </svg>
                                
                                <svg width="10" height="10" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M13.3 0.710001C12.91 0.320001 12.28 0.320001 11.89 0.710001L6.99997 5.59L2.10997 0.700001C1.71997 0.310001 1.08997 0.310001 0.699971 0.700001C0.309971 1.09 0.309971 1.72 0.699971 2.11L5.58997 7L0.699971 11.89C0.309971 12.28 0.309971 12.91 0.699971 13.3C1.08997 13.69 1.71997 13.69 2.10997 13.3L6.99997 8.41L11.89 13.3C12.28 13.69 12.91 13.69 13.3 13.3C13.69 12.91 13.69 12.28 13.3 11.89L8.40997 7L13.3 2.11C13.68 1.73 13.68 1.09 13.3 0.710001Z" fill="#323232"/>
                                    </svg>
                        </div>
                    </div>
                </div>
                <div data-bc-task-list-item="">
                    <div data-bc-task-list-info="">
                        <span data-bc-task-list-title="">آپلود فایل</span>
                        <span data-bc-task-list-percent="">50%</span>
                    </div>
                    <div data-bc-task-list-progress-content="">
                        <div data-bc-task-list-progress-view="">
                            <div data-bc-task-list-progress="">
                                <div data-bc-task-list-progress-bar="" style="width: 50%;"></div>
                            </div>
                        </div>
                        <div data-bc-task-list-btn="">
                            <svg width="10" height="10" viewBox="0 0 7 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 0V8.75L6.875 4.375L0 0Z" fill="#323232"/>
                                </svg>
                                
                                <svg width="10" height="10" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M13.3 0.710001C12.91 0.320001 12.28 0.320001 11.89 0.710001L6.99997 5.59L2.10997 0.700001C1.71997 0.310001 1.08997 0.310001 0.699971 0.700001C0.309971 1.09 0.309971 1.72 0.699971 2.11L5.58997 7L0.699971 11.89C0.309971 12.28 0.309971 12.91 0.699971 13.3C1.08997 13.69 1.71997 13.69 2.10997 13.3L6.99997 8.41L11.89 13.3C12.28 13.69 12.91 13.69 13.3 13.3C13.69 12.91 13.69 12.28 13.3 11.89L8.40997 7L13.3 2.11C13.68 1.73 13.68 1.09 13.3 0.710001Z" fill="#323232"/>
                                    </svg>
                        </div>
                    </div>
                </div>
                <div data-bc-task-list-item="">
                    <div data-bc-task-list-info="">
                        <span data-bc-task-list-title="">آپلود فایل</span>
                        <span data-bc-task-list-percent="">75%</span>
                    </div>
                    <div data-bc-task-list-progress-content="">
                        <div data-bc-task-list-progress-view="">
                            <div data-bc-task-list-progress="">
                                <div data-bc-task-list-progress-bar="" style="width: 75%;"></div>
                            </div>
                        </div>
                        <div data-bc-task-list-btn="">
                            <svg width="10" height="10" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 8.00001H2.28571V7.62939e-06H0V8.00001ZM4.57143 7.62939e-06V8.00001H6.85714V7.62939e-06H4.57143Z" fill="#323232"/>
                                </svg>
                                
                                <svg width="10" height="10" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M13.3 0.710001C12.91 0.320001 12.28 0.320001 11.89 0.710001L6.99997 5.59L2.10997 0.700001C1.71997 0.310001 1.08997 0.310001 0.699971 0.700001C0.309971 1.09 0.309971 1.72 0.699971 2.11L5.58997 7L0.699971 11.89C0.309971 12.28 0.309971 12.91 0.699971 13.3C1.08997 13.69 1.71997 13.69 2.10997 13.3L6.99997 8.41L11.89 13.3C12.28 13.69 12.91 13.69 13.3 13.3C13.69 12.91 13.69 12.28 13.3 11.89L8.40997 7L13.3 2.11C13.68 1.73 13.68 1.09 13.3 0.710001Z" fill="#323232"/>
                                    </svg>
                                    
                        </div>
                    </div>
                </div>
                <div data-bc-task-list-item="">
                    <div data-bc-task-list-info="">
                        <span data-bc-task-list-title="">آپلود فایل</span>
                    </div>
                    <div data-bc-task-list-progress-content="">
                        <div data-bc-task-list-progress-view="">
                            <div data-bc-task-list-progress="">
                                <div data-bc-task-list-progress-bar="" style="width: 100%;"></div>
                            </div>
                        </div>
                        <div data-bc-task-list-btn="">
                            <svg width="10" height="10" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.3 0.710001C12.91 0.320001 12.28 0.320001 11.89 0.710001L6.99997 5.59L2.10997 0.700001C1.71997 0.310001 1.08997 0.310001 0.699971 0.700001C0.309971 1.09 0.309971 1.72 0.699971 2.11L5.58997 7L0.699971 11.89C0.309971 12.28 0.309971 12.91 0.699971 13.3C1.08997 13.69 1.71997 13.69 2.10997 13.3L6.99997 8.41L11.89 13.3C12.28 13.69 12.91 13.69 13.3 13.3C13.69 12.91 13.69 12.28 13.3 11.89L8.40997 7L13.3 2.11C13.68 1.73 13.68 1.09 13.3 0.710001Z" fill="#323232"/>
                                </svg>
                        </div>
                    </div>
                </div> -->
                
                    <div data-bc-task-list-noTask="" data-bc-d1-task-list-noTask="">
                        @schedulerNoTask
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>