<div data-bc-task-list="">
    <div data-bc-task-list-alert="">
        <!-- <svg data-bc-task-list-icon="" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell">
            <path d="M22 17H2a3 3 0 0 0 3-3V9a7 7 0 0 1 14 0v5a3 3 0 0 0 3 3zm-8.27 4a2 2 0 0 1-3.46 0"></path>
        </svg> -->
        <i data-bc-task-list-icon="" class="icon-list"></i>
    </div>
    <div data-bc-task-list-dropdown="">
        <section data-bc-task-list-wrapper="">
            <div data-bc-task-list-contents="" data-bc-main-task-list="">
                <!-- insert contents -->
                <div data-bc-task-list-item="">
                    <div data-bc-task-list-info="">
                        <span data-bc-task-list-title="">آپلود فایل</span>
                        <span data-bc-task-list-percent="">60%</span>
                    </div>
                    <div data-bc-task-list-progress-content="">
                        <div data-bc-task-list-progress-view="">
                            <div data-bc-task-list-progress="">
                                <div data-bc-task-list-progress-bar="" style="width: 60%;"></div>
                            </div>
                        </div>
                        <div data-bc-task-list-btn="">
                            <i class="icon-control-play"></i>
                            <i class="lni lni-close"></i>
                        </div>
                    </div>
                </div>
                <div data-bc-task-list-item="">
                    <div data-bc-task-list-info="">
                        <span data-bc-task-list-title="">آپلود فایل</span>
                        <span data-bc-task-list-percent="">50%</span>
                    </div>
                    <div data-bc-task-list-progress-content="">
                        <div data-bc-task-list-progress-view="">
                            <div data-bc-task-list-progress="">
                                <div data-bc-task-list-progress-bar="" style="width: 50%;"></div>
                            </div>
                        </div>
                        <div data-bc-task-list-btn="">
                            <i class="icon-control-pause"></i>
                            <i class="lni lni-close"></i>
                        </div>
                    </div>
                </div>
                <div data-bc-task-list-item="">
                    <div data-bc-task-list-info="">
                        <span data-bc-task-list-title="">آپلود فایل</span>
                        <span data-bc-task-list-percent="">75%</span>
                    </div>
                    <div data-bc-task-list-progress-content="">
                        <div data-bc-task-list-progress-view="">
                            <div data-bc-task-list-progress="">
                                <div data-bc-task-list-progress-bar="" style="width: 75%;"></div>
                            </div>
                        </div>
                        <div data-bc-task-list-btn="">
                            <i class="icon-control-play"></i>
                            <i class="lni lni-close"></i>
                        </div>
                    </div>
                </div>
                <div data-bc-task-list-item="">
                    <div data-bc-task-list-info="">
                        <span data-bc-task-list-title="">آپلود فایل</span>
                    </div>
                    <div data-bc-task-list-progress-content="">
                        <div data-bc-task-list-progress-view="">
                            <div data-bc-task-list-progress="">
                                <div data-bc-task-list-progress-bar="" style="width: 100%;"></div>
                            </div>
                        </div>
                        <div data-bc-task-list-btn="">
                            <i class="lni lni-close"></i>
                        </div>
                    </div>
                </div>




            </div>
        </section>
    </div>
</div>