[data-bc-page-dashboard-disablelist] {
    z-index: 1;
    margin: 15px 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px dashed #767667;
    direction: rtl;
}

[clear] {
    clear: both;
}

[data-bc-page-widget-list-dlg-btn-add] {
    font-size: 12px;
    /* float: left; */
    color: #000;
    margin-top: -30px;
    /* margin-left: 10px; */
    z-index: 98;
    cursor: pointer;
    position: relative;
    background-color: var(--white);
    /* border-top-right-radius: 5px; */
    /* border-bottom-right-radius: 5px; */
    position: absolute;
    top: -15px;
    /* left: -10px; */
    padding: 5px;
    background: var(--dark_white);
    height: 48px;
    display: flex;
    align-items: center;
    width: 25px;
    justify-content: center;
}

[data-bc-bp-direction="rightToLeft"] [data-bc-page-widget-list-dlg-btn-add] {
    float: left;
    margin-left: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    left: -10px;
    transform: translateY(-1px);
    z-index: 9;
}

[data-bc-bp-direction="leftToRight"] [data-bc-page-widget-list-dlg-btn-add] {
    float: right;
    margin-right: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    right: -10px;
    margin-top: -45px;
}

[data-bc-page-widget-list-dlg-btn-add][data-bc-bp-sticky] {
    position: fixed;
    top: 13.5px;
    width: 25px;
    z-index: 999;
    margin-top: 0;
}

[data-bc-page-widget-list-dlg-btn-add]:before {
    transition: all 0.5s ease-in-out;
}

[data-bc-bp-direction="rightToLeft"] [data-bc-page-widget-list-dlg-btn-add]:before {
    transform: rotate(0deg);
}

[data-bc-bp-direction="leftToRight"] [data-bc-page-widget-list-dlg-btn-add]:before {
    transform: rotate(180deg);
}

[data-bc-dashboard-widgets] {
    width: 100%;
    transition: all 0.5s ease-in-out;
}

[data-bc-widget-drop-area-container] {
    padding-top: 10px;
}

[data-bc-btn-remove] {
    width: 20px;
    height: 20px;
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 18px;
    left: 19px !important;
    font-size: 10px;
    line-height: 22px;
    text-align: center;
}

[data-bc-bp-direction="rightToLeft"] [data-bc-btn-remove] {
    left: -5px;
}

[data-bc-bp-direction="leftToRight"] [data-bc-btn-remove] {
    right: -5px;
}