[data-bc-page-dashboard-disablelist] {
    
    z-index: 1;
	margin: 15px 10px;
	padding: 10px;
	border-radius: 5px;
	border : 1px dashed #767667;
    direction: rtl;
    
}

[data-bc-page-dashboard-disablelist] [data-bc-page-widget-dashboard] {
    padding: 5px 10px;
    border: 1px solid #eee;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 15px;
    z-index: 99;
    width: 120px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--white);
    position: relative;
}
[data-bc-page-dashboard-disablelist] [data-bc-page-widget-dashboard] img{
    padding-top: 5px;
    width: 60px;
}
[clear]{
	clear: both;
}
[data-bc-page-widget-dashboard-wrapper]{
    margin-top: 15px;
    display: flex;
}
[data-bc-page-widget-list-dlg-btn-add]{
    font-size: 12px;
}
[data-bc-page-widget-list-dlg-btn-add] {
    float: left;
    color: #000;
    margin-top: -38px;
    margin-left: 10px;
    z-index: 99999;
    cursor: pointer;
    position: relative;
    background-color: var(--white);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    top: -10px;
    left: -10px;
    padding: 5px;
    background: var(--dark_white);
    height: 36px;
    display: flex;
    align-items: center;
    width: 25px;
    justify-content: center;
    
}
[data-bc-page-widget-list-dlg-btn-add]:before{
    transition: all 0.5s ease-in-out;
}
[data-bc-dashboard-widgets]{
    width: 100%;
    transition: all 0.5s ease-in-out;
}
[data-bc-page-body-container]{
    width: 100%;
    transition: all 0.5s ease-in-out;
}
[data-bc-widget-drop-area-container]{
    padding-top: 10px;
}
[data-bc-btn-remove]{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #EB5757;
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: -5px;
    left: -5px;
    font-size: 10px;
    line-height: 22px;
    text-align: center;
}