[data-bc-page-dashboard-disablelist] {
    
    z-index: 1;
	margin: 15px 10px;
	padding: 10px;
	border-radius: 5px;
	border : 1px dashed #767667;
    direction: rtl;
    
}

[data-bc-page-dashboard-disablelist] [data-bc-page-widget-dashboard] {
    padding: 5px 10px;
    border: 1px solid #eee;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 15px;
    z-index: 99;
    width: 120px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--white);
}
[data-bc-page-dashboard-disablelist] [data-bc-page-widget-dashboard] img{
    padding-top: 5px;
    width: 60px;
}
[clear]{
	clear: both;
}
[data-bc-page-widget-dashboard-wrapper]{
    margin-top: 15px;
    display: flex;
}