<div data-bc-user-info="" data-status="close">
    <div data-bc-user-info-image="">
        <img data-bc-user-image="" data-bc-event-change-avatar="" src="#" />
    </div>
    <div data-bc-user-info-drop-down="" data-sys-bg-secondary="">
        <ul data-bc-user-drop-down="">
            <li data-bc-user-drop-down-item="">
                <div data-bc-user-title="" data-sys-text="">نام کاربری</div>
                <div data-bc-user-name="" data-sys-text=""></div>
            </li>
            <li data-bc-user-drop-down-item="">
                <basis core="component.basispanel.logout" run="atclient"></basis>
            </li>
        </ul>
    </div>
</div>