<div data-bc-user-info="" data-bc-d1-user-info="" data-status="close">
    <div data-bc-user-info-image="" data-bc-d1-user-info-image="" data-bc-user-show-info="">
        <img data-bc-user-image="" data-bc-d1-user-image="" data-bc-event-change-avatar="" src="#" />
    </div>
    <div data-bc-user-info-drop-down="" data-bc-d1-user-info-drop-down="" data-sys-bg-secondary="">
        <ul data-bc-user-drop-down="" data-bc-d1-user-drop-down="">
            <li data-bc-user-drop-down-item="" data-bc-d1-user-drop-down-item="">
                <div data-bc-user-title="" data-bc-d1-user-title="" data-sys-text="">@userTitle</div>
                <div data-bc-user-name="" data-bc-d1-user-name="" data-bc-user-change-level="" data-sys-text=""></div>
            </li>
            <li data-bc-user-drop-down-item="" data-bc-d1-user-drop-down-item="">
                <basis core="component.basispanel.store" run="atclient"></basis>
            </li>
            <li data-bc-user-drop-down-item="" data-bc-d1-user-drop-down-item="">
                <basis core="component.basispanel.logout" run="atclient"></basis>
            </li>
        </ul>
    </div>
</div>