[data-bc-d2-user-info] {
    /* float: right; */
    height: 32px;
    /* border-left: 0.5px solid #D0D0D0; */
    /* padding-left: 15px; */
    position: relative;
}

[data-bc-bp-direction="rightToLeft"] [data-bc-d2-user-info] {
    float: right;
    /* border-left: 0.5px solid #D0D0D0; */
    /* padding-left: 15px; */
}

[data-bc-bp-direction="leftToRight"] [data-bc-d2-user-info] {
    float: left;
    /* border-right: 0.5px solid #D0D0D0; */
    /* padding-right: 15px; */
}

[data-bc-d2-user-info] [data-bc-d2-user-info-image] {
    /* float: right; */
    height: 32px;
    width: 32px;
    border-radius: 5px;
    cursor: pointer;
}

[data-bc-bp-direction="rightToLeft"] [data-bc-d2-user-info] [data-bc-d2-user-info-image] {
    float: right;
}

[data-bc-bp-direction="leftToRight"] [data-bc-d2-user-info] [data-bc-d2-user-info-image] {
    float: left;
}

[data-bc-d2-user-info] [data-bc-d2-user-info-image] img {
    border-radius: 5px;
    height: 32px;
    width: 32px;
}
