[data-bc-bp-profile-container] {
    float: right;
}

[data-bc-user-info] {
    float: right;
    padding: 10px 15px;
    width: 145px;
    height: 35px;
    /* display: inline-block; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* box-sizing: unset; */
}

[data-bc-user-info] [data-bc-user-info-image] {
    float: right;
    height: 35px;
}

[data-bc-user-info] [data-bc-user-info-image] img {
    border-radius: 5px;
}

[data-bc-user-info] [data-bc-user-info-name] {
    float: right;
    margin-right: 10px;
    width: calc(100% - 45px);
    /* display: inline-block; */
    line-height: 35px;
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
}

[data-bc-user-info] [data-bc-user-name] {
    cursor: pointer;
    float: right;
}



