
<div data-bc-main-list-container="" data-bc-d1-main-list-container="" data-bc-corporate-list="" data-bc-d1-corporate-list="" data-sys-corporate="" class="selectable">
    <div data-bc-corporate-list-icon="" data-bc-d1-corporate-list-icon="" data-sys-header-button="">
      
<svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 18.5V4.5H4V0.499999H14V8.5H18V18.5H10V14.5H8V18.5H0ZM2 16.5H4V14.5H2V16.5ZM2 12.5H4V10.5H2V12.5ZM2 8.5H4V6.5H2V8.5ZM6 12.5H8V10.5H6V12.5ZM6 8.5H8V6.5H6V8.5ZM6 4.5H8V2.5H6V4.5ZM10 12.5H12V10.5H10V12.5ZM10 8.5H12V6.5H10V8.5ZM10 4.5H12V2.5H10V4.5ZM14 16.5H16V14.5H14V16.5ZM14 12.5H16V10.5H14V12.5Z" fill="#004B85"/>
    </svg>
    
    </div>
    <!-- <div data-bc-corporate-notification="" data-bc-d1-corporate-notification="">
        <svg data-bc-corporate-icon="" data-bc-d1-corporate-icon="" version="1.1" width="18" height="18" x="0px" y="0px" viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve">
            <g>
                <path d="M63.4,50.4l-29.3-40c-1.1-1.3-3.2-1.3-4.3,0l-29.3,40C0,51.2-0.2,52.2,0.3,53c0.5,1.1,1.3,1.6,2.4,1.6h58.6
            c1.1,0,1.9-0.5,2.4-1.3C64.2,52.2,64,51.2,63.4,50.4z M8,49.3l24-32.8l24,32.8H8z"></path>
                <path d="M29.3,25.3V36c0,1.6,1.1,2.7,2.7,2.7c1.6,0,2.7-1.1,2.7-2.7V25.3c0-1.6-1.1-2.7-2.7-2.7C30.4,22.6,29.3,23.7,29.3,25.3z"></path>
                <circle cx="32" cy="44" r="2.7"></circle>
            </g>
        </svg>
    </div> -->
    <div data-bc-corporate-select="" data-bc-d1-corporate-select="" data-bc-main-list-click="">
        <div data-bc-main-list-info="" data-bc-d1-main-list-info="">
            <span data-bc-main-list-msg="" data-bc-d1-main-list-msg="" data-bc-corporate-msg="" data-bc-d1-corporate-msg="" data-id="0">@corporateTitle</span>        
        </div>
        <span data-bc-drop-down-click="" data-bc-corporate-notif-drop-down="" data-bc-d1-corporate-notif-drop-down="">
            <svg data-bc-corporate-icon-drop-down="" data-bc-d1-corporate-icon-drop-down="" version="1.1" width="10" height="10" x="0px" y="0px" viewBox="0 0 64 64" style="enable-background:new  0 0 64 64;" xml:space="preserve">
                <g>
                    <path d="M32,48.1c-1.3,0-2.4-0.5-3.5-1.3L0.8,20.7c-1.1-1.1-1.1-2.7,0-3.7c1.1-1.1,2.7-1.1,3.7,0L32,42.8l27.5-26.1
                                c1.1-1.1,2.7-1.1,3.7,0c1.1,1.1,1.1,2.7,0,3.7L35.5,46.5C34.4,47.9,33.3,48.1,32,48.1z"></path>
                </g>
            </svg>
        </span>
    </div>
    <div data-bc-drop-down-container="" data-bc-corporate-drop-down="" data-bc-d1-corporate-drop-down="" class="selectable_list" data-status="close" data-info="service">
        <ul data-bc-main-list="" data-bc-d1-main-list="" id="servicesInput_autocompleteList">

        </ul>
    </div>
</div>
