[data-bc-main-list-msg-select] {
  font-size: 8px !important;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  /* position: absolute; */
  top: -5px !important;
  /* right: 10px; */
  transform: translateY(0) !important;
  line-height: 10px;
  right: -25px;
  background-color: #fff;
  padding: 0 5px;
}
[data-bc-erp-icon] {
  display: flex;
  justify-content: center;
  align-items: center;
}
[data-bc-main-name] {
  font-size: 12px;
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  display: block ruby;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
