[data-bc-bp-corporate-container="d1"] {
  /* float: right; */
  height: 40px;
  /* padding: 7.5px 0; */
}

[data-bc-bp-direction="rightToLeft"] [data-bc-bp-corporate-container="d1"] {
  float: right;
}

[data-bc-bp-direction="leftToRight"] [data-bc-bp-corporate-container="d1"] {
  float: right;
}

[data-bc-d1-corporate-list] {
  min-width: 190px;
  height: 40px;
  background: #fff;
  border: 1px solid #C8CCCF;
  /* float: right; */
  /* margin-right: 15px; */
  position: relative;
  border-radius: 5px;
  /* direction: rtl; */
  z-index: 98;
  transform-origin: top;
  transform: scaleY(0);
  transition: all 0.3s ease-in-out;
  /* padding-right: 40px; */
  /* box-sizing: unset; */
}

[data-bc-bp-direction="rightToLeft"] [data-bc-d1-corporate-list] {
  float: right;
  margin-right: 20px;
  direction: rtl;
}

[data-bc-bp-direction="leftToRight"] [data-bc-d1-corporate-list] {
  float: right;
  margin-right: 15px;
  direction: rtl;
}

[data-bc-d1-corporate-list-icon] {
  /* float: right; */
  width: 32px;
  height: 40px;
  /* background-color: #e4e7f4; */
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: absolute; */
  /* right: 0; */
}

[data-bc-bp-direction="rightToLeft"] [data-bc-d1-corporate-list-icon] {
  float: right;
}

[data-bc-bp-direction="leftToRight"] [data-bc-d1-corporate-list-icon] {
  float: left;
}

/* [data-bc-d1-corporate-list] [data-bc-d1-corporate-notification] {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    display: inline-block;
    position: absolute;
    left: 12px;
    top: 10px;
} */

/* [data-bc-d1-corporate-list] [data-bc-d1-corporate-icon] {
    fill: #ee1a29;
    color: #ee1a29;
} */

[data-bc-d1-corporate-list] [data-bc-d1-corporate-select] {
  /* float: right; */
  width: calc(100% - 32px);
  height: 100%;
  /* cursor: pointer; */
  /* margin-top: 5px; */
  position: relative;
}

[data-bc-bp-direction="rightToLeft"]
  [data-bc-d1-corporate-list]
  [data-bc-d1-corporate-select] {
  float: right;
}

[data-bc-bp-direction="leftToRight"]
  [data-bc-d1-corporate-list]
  [data-bc-d1-corporate-select] {
  float: right;
  display: flex;
  direction: ltr;
}

[data-bc-d1-corporate-list] [data-bc-d1-corporate-msg] {
  font-size: 12px;
  color: #999999;
  position: absolute;
  top: 50%;
  /* right: 10px; */
  transform: translateY(-50%);
}



/* [data-bc-d1-corporate-list] [data-bc-d1-corporate-msg][data-bc-d1-corporate-msg-inactive] {
    color: #bcbcbc;
} */

[data-bc-d1-corporate-list] [data-bc-d1-corporate-notif-drop-down] {
  /* position: absolute; */
  /* top: 0; */
  /* left: 0; */
  display: inline-block;
  cursor: pointer;
  width: 30px;
  height: 38px;
  text-align: center;
  padding: 7px 0px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

[data-bc-d1-corporate-list] [data-bc-d1-corporate-drop-down] {
  position: absolute;
  width: 100%;
  /* right: 0; */
  top: 45px;
  background: #fff;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  box-shadow: 0px 5px 10px rgba(0, 75, 133, 0.1);
  padding: 5px;
  border-radius: 5px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  visibility: hidden;
  opacity: 0;
  margin-top: -10px;
  z-index: 99;
}

[data-bc-bp-direction="rightToLeft"]
  [data-bc-d1-corporate-list]
  [data-bc-d1-corporate-drop-down] {
  right: 0;
}

[data-bc-bp-direction="leftToRight"]
  [data-bc-d1-corporate-list]
  [data-bc-d1-corporate-drop-down] {
  right: 0;
}

[data-bc-d1-corporate-list]
  [data-bc-d1-corporate-drop-down][data-status="open"] {
  visibility: visible;
  opacity: 1;
  margin-top: 0;
}

[data-bc-d1-corporate-list] [data-bc-corporate-search] {
  margin-bottom: 10px;
}

[data-bc-d1-corporate-list] [data-bc-corporate-search] input {
  width: 100%;
  height: 30px;
  padding: 0px 10px;
  font-size: 11px;
  color: var(--dark_gray);
  background: #f4f4f4;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  transition: border 0.3s linear 0s;
  box-sizing: border-box;
}

[data-bc-d1-corporate-list] [data-bc-corporate-search] input:focus {
  border: 1px solid #ebebeb;
  outline: none;
}

[data-bc-d1-corporate-list] [data-bc-d1-corporate-drop-down] ul {
  scrollbar-width: thin;
  /* scrollbar-color: #eff2f5 transparent; */
  height: auto;
  max-height: 200px;
  overflow: auto;
}

[data-bc-d1-corporate-list] [data-bc-d1-corporate-drop-down] li {
  padding: 10px 10px;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  /* margin-left: 5px; */
}

[data-bc-bp-direction="rightToLeft"]
  [data-bc-d1-corporate-list]
  [data-bc-d1-corporate-drop-down]
  li {
  margin-left: 5px;
}

[data-bc-bp-direction="leftToRight"]
  [data-bc-d1-corporate-list]
  [data-bc-d1-corporate-drop-down]
  li {
  margin-right: 5px;
  text-align: left;
}

[data-bc-d1-corporate-list] [data-bc-d1-corporate-drop-down] li:hover {
  background: rgba(0, 75, 133, 0.1);
}

[data-bc-d1-corporate-list] [data-bc-d1-corporate-drop-down] li:last-child {
  border-bottom: none;
}

[data-bc-d1-corporate-list] [data-bc-d1-corporate-drop-down] li div {
  /* position: relative; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  width: 100%;
}

[data-bc-d1-corporate-list]
  [data-bc-d1-corporate-drop-down]
  li
  div
  span[data-bc-id] {
  font-size: 12px;
}

/* .autocomplete-active {
    background-color: #eee !important;
} */

[data-bc-d1-corporate-buy] {
  padding: 5px 8px;
  background: #e4e7f4;
  border-radius: 5px;
  color: #004b85;
  transform-origin: top;
  transform: scaleY(0);
  transition: all 0.3s ease-in-out;
  width: 117px;
  /* float: right; */
  /* margin-right: 15px; */
  position: relative;
  font-size: 14px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}

[data-bc-bp-direction="rightToLeft"] [data-bc-d1-corporate-buy] {
  float: right;
  margin-right: 15px;
}

[data-bc-bp-direction="leftToRight"] [data-bc-d1-corporate-buy] {
  float: right;
  margin-right: 15px;
}


[data-bc-bp-corporate-container="d1"] .active-corporate [data-bc-main-name] {
  color: rgba(0, 75, 133, 1);
}

[data-bc-bp-direction="rightToLeft"][data-bc-bp-corporate-container="d1"]
  .active-corporate
  [data-bc-d1-corporate-list-icon] {
  border-right: 0;
}

[data-bc-bp-direction="leftToRight"][data-bc-bp-corporate-container="d1"]
  .active-corporate
  [data-bc-d1-corporate-list-icon] {
  border-left: 0;
}

/* main */
[data-bc-d1-main-list-info] {
  /* float: right; */
  width: calc(100% - 30px);
  height: 40px;
  /* padding-right: 10px; */
  position: relative;
  cursor: pointer;
}

[data-bc-bp-direction="rightToLeft"] [data-bc-d1-main-list-info] {
  float: right;
  padding-right: 10px;
}

[data-bc-bp-direction="leftToRight"] [data-bc-d1-main-list-info] {
  float: right;
  padding-left: 10px;
  direction: ltr;
}

[data-bc-bp-direction="rightToLeft"] [data-bc-bp-corporate-business-wrapper] {
  direction: rtl;
  display: flex;
  width: fit-content;
  gap:15px;
  float: right;
}
[data-bc-bp-direction="leftToRight"] [data-bc-bp-corporate-business-wrapper] {
  direction: rtl;
  display: flex;
  width: fit-content;
  float: right;
}
[data-bc-bp-direction="leftToRight"]
  [data-bc-d1-corporate-list]
  [data-bc-corporate-search]
  input {
  text-align: left;
  direction: ltr;
}
[data-bc-bp-direction="leftToRight"]
  [data-bc-d1-corporate-list]
  [data-bc-d1-corporate-drop-down]
  ul {
  direction: ltr !important;
}
[data-bc-main-list-msg-selective] span{
  color: #004B85 !important;
}