[data-bc-corporate-list] {
    min-width: 150px;
    height: 25px;
    background: #fff;
    border: 1px solid #E5E5E5;
    float: right;
    margin-right: 15px;
    position: relative;
    border-radius: 5px;
    height: 32px;
    direction: rtl;
    z-index: 99;
    transform-origin: top;
	transform: scaleY(0);
	transition: all 0.3s ease-in-out;
    padding-right: 40px;
    /* box-sizing: unset; */

}

[data-bc-corporate-list-icon]{
    float: right;
	width: 32px;
    height: 32px;
    background-color: #E4E7F4;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
}

[data-bc-corporate-list] [data-bc-corporate-notification] {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    display: inline-block;
    position: absolute;
    left: 12px;
    top: 10px;
}

[data-bc-corporate-list] [data-bc-corporate-icon] {
    fill: #ee1a29;
    color: #ee1a29;
}

[data-bc-corporate-list] [data-bc-corporate-select] {
    /* cursor: pointer; */
    margin-top: 5px;
    position: relative;
}

[data-bc-corporate-list] [data-bc-corporate-msg] {
    font-size: 12px;
    color: #999999;
}

[data-bc-corporate-list] [data-bc-corporate-msg][data-bc-corporate-msg-deactive] {
    color: #bcbcbc;
}

[data-bc-corporate-list] [data-bc-corporate-notif-drop-down] {
    position: absolute;
    top:3px;
    left: 10px;
    cursor: pointer;
}


[data-bc-corporate-list] [data-bc-corporate-drop-down] {
    position: absolute;
    width: 100%;
    right: 0;
    top: 45px;
    background: #fff;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    box-shadow: 0px 5px 10px rgba(0, 75, 133, 0.1);
    padding: 5px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

[data-bc-corporate-list] [data-bc-corporate-drop-down][data-status="open"] {
    opacity: 1;
    z-index: 99;
    visibility: visible;
}

[data-bc-corporate-list] [data-bc-corporate-search] {
    margin-bottom: 10px;
}

[data-bc-corporate-list] [data-bc-corporate-search] input {
    width: 100%;
    height: 30px;
    padding: 0px 10px;
    font-size: 11px;
    color: var(--dark_gray);
    background: #F4F4F4;
    border:1px solid #EBEBEB;
    border-radius: 5px;
    transition: border 0.3s linear 0s;
    box-sizing: border-box;
}

[data-bc-corporate-list] [data-bc-corporate-search] input:focus{
    border: 1px solid #EBEBEB;
    outline: none;
}


[data-bc-corporate-list] [data-bc-corporate-drop-down] ul {
    scrollbar-width: thin;
    /* scrollbar-color: #eff2f5 transparent; */
    height: auto;
    max-height: 200px;
    overflow: auto;

    
}

[data-bc-corporate-list] [data-bc-corporate-drop-down] li {
    padding: 10px 10px;
    cursor: pointer;
    position: relative;
    border-radius: 5px;
    margin-left: 5px;
}
[data-bc-corporate-list] [data-bc-corporate-drop-down] li:hover{
    background: rgba(0, 75, 133, 0.1);
}

[data-bc-corporate-list] [data-bc-corporate-drop-down] li:last-child {
    border-bottom: none;
}

[data-bc-corporate-list] [data-bc-corporate-drop-down] li div {
    position: relative;
    display: inline;
}

.autocomplete-active {
    background-color: #eee !important;
}
[data-bc-corporate-buy]{
   padding: 5px 8px;
   background: #E4E7F4;
   border-radius: 5px;
   color: #004B85;
   transform-origin: top;
	transform: scaleY(0);
	transition: all 0.3s ease-in-out;
    width: 117px;
    float: right;
    margin-right: 15px;
    position: relative;
    font-size: 14px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}
[data-bc-main-list-msg-select] {
    font-size: 8px !important;
    transition: all 0.3s ease-in-out;
    position: absolute;
    top: -12px;
  }
  [data-bc-corporate-name]{
    font-size: 12px;
    margin-top: 13px;
  }
  .active-corporate,.active-busuness{
      border: 1px solid rgba(0, 75, 133, 1) !important;
      background-color: #E4E7F4;
      color: rgba(0, 75, 133, 1);;
  }
  .active-corporate span ,.active-corporate [data-bc-corporate-name],.active-busuness span , .active-busuness [data-bc-corporate-name] [data-bc-corporate-name]{
    color: rgba(0, 75, 133, 1) !important;
  }
  .active-corporate [data-bc-corporate-list-icon],.active-busuness [data-bc-corporate-list-icon]{
    border: 1px solid rgba(0, 75, 133, 1);
    border-top: 0;
    border-right: 0;
  }