@font-face {
  font-family: "IRANSansWeb";
  src: url(../font/IRANSansWeb.eot);
  src: local("?"), url(../font/IRANSansWeb.woff) format("woff"),
    url(../font/IRANSansWeb.ttf) format("truetype"),
    url(../font/IRANSansWeb.otf) format("otf");
  font-weight: 0;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  font-family: "IRANSansWeb";
}

/***** colors *****/
:root {
  --theme1: #4d576e;
  --theme2: #6c768e;
  --theme3: #8c96b0;
  --theme4: #aeb8d2;
  --theme5: #d1dbf6;
  --theme6: #a5abbd;
  --theme7: #f1f1e6;
  --theme8: #e2f1ff;
  --theme9: #3b7b98;
  --black: #000;
  --white: #fff;
  --vlight_gray: #f8f9fa;
  --light_gray: #eee;
  --gray: #bcbcbc;
  --vdark_gray: #212121;
  --dark_gray: #555;
  --vlight_red: #fde8e8;
  --light_red: #f37571;
  --red: #dc3545;
  --light_yellow: #fffde7;
  --yellow: #fbc02d;
  --light_orange: #fee9c7;
  --orange: #f39c12;
  --light_green: #e8f5e9;
  --green: #4f8a10;
  --vlight_blue: #f5f8f9;
  --light_blue: #c7d6db;
  --blue: #31708f;
  --brown: #9f6000;
  --slate_gray: #5a5f73;
  --dark_slate_gray: #151f33;
  --sky_blue: #66afe9;
  --papaya: #fff8ee;
  --light_pink: #fce4ec;
  --pink: #fcdddd;
  --snow: #f9f9f9;
  --iris_blue: #00bcd4;
  --light_cyan: #d7f7fb;
  --light_purple: #ede7f6;
  --purple: #512da8;
  --ruby: #c2185b;

  --theme10: #1f2933; /*main background*/
  --theme11: #323f4b; /*widget background*/
  --theme12: #3e4c59;
  --theme13: #52606d; /*table th*/
  --theme14: #616e7c;
  --theme15: #7b8794;
  --theme16: #9aa5b1;
  --theme17: #cbd2d9;
  --theme18: #e4e7eb;
  --theme19: #f5f7fa;
}

body {
  background: var(--snow);
  font-size: 14px;
  color: var(--vdark_gray);
  font-weight: normal;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  height: 100%;
}
body.darkmode {
  color: var(--vlight_gray);
}
/***** info *****/
.info {
  color: var(--blue);
  fill: var(--blue);
  background-color: #d9edf7;
  border-color: #bce8f1;
}

/***** success *****/
.success {
  color: var(--green);
  fill: var(--green);
  background-color: #dff2bf;
  border-color: #d1ebbb;
}

/***** warning *****/
.warning {
  color: var(--orange);
  fill: var(--orange);
  background-color: #feefb3;
  border-color: #fae8c3;
}

/***** error *****/
.error {
  color: var(--red);
  fill: var(--red);
  background-color: var(--pink);
  border-color: #f2cdd1;
}

.clr {
  clear: both;
}

/***** tooltip *****/
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
}

[data-tooltip]:before {
  position: absolute;
  bottom: 18px;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 5px;
  padding: 6px 6px;
  width: max-content;
  border-radius: 3px;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 13px;
  line-height: 1.2;
  background-color: var(--black);
  /* background-color: hsla(0, 0%, 20%, 1); */
  color: var(--white);
}

[data-tooltip]:after {
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  border-top: 5px solid var(--black);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/***** widgets *****/
.widget_wrapper {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid var(--light_gray);
  border-radius: 5px;
  direction: rtl;
  text-align: right;
  font-size: 14px;
  background-color: var(--white);
  height: 100%;
  overflow: hidden;
}

.widget_title {
  width: 100%;
  border-bottom: 1px solid var(--light_gray);
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: sticky;
}

.widget_title span {
  font-size: 16px;
}

.widget_buttons {
  min-height: 25px;
}

.delete_widget {
  float: left;
  height: 15px;
  /* display: none; */
  margin-right: 5px;
  cursor: pointer;
  color: var(--dark_gray);
  line-height: 25px;
}

.widgetBtn {
  color: var(--dark_gray);
  /* background-color: #fff; */
  border: 1px solid var(--gray);
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  padding: 5px;
  margin-right: 5px;
  float: left;
}

.widgetBtn i {
  font-size: 22px;
  display: block;
}

.widgetBtn svg {
  display: block;
  width: 22px;
  height: 22px;
  margin: 0 auto;
  fill: var(--dark_gray);
}

.widget_body {
  padding: 10px;
  min-height: 50px;
  overflow-y: auto;
  height: calc(100% - 70px);
}

.widget_footer {
  width: 100%;
  line-height: 40px;
  text-align: center;
  direction: ltr;
}

.widget_footer span {
  color: var(--vdark_gray);
}

/***** widgets --> darkmode *****/
.darkmode .widget_wrapper {
  background-color: var(--theme11);
  border: 1px solid var(--theme14);
}

.darkmode .widget_title {
  border-bottom: 1px solid var(--theme14);
}

.darkmode .delete_widget {
  color: var(--vlight_gray);
}

.darkmode .widgetBtn,
.darkmode .widgetBtn svg {
  color: var(--vlight_gray);
  fill: var(--vlight_gray);
}

.darkmode .widget_footer span {
  color: var(--vlight_gray);
}

/***** form elements input, select, textarea, ... *****/
.form_element {
  color: var(--dark_gray);
  background: var(--vlight_blue);
  border: 1px solid var(--light_blue);
  border-radius: 3px;
  transition: border 0.3s linear 0s;
}

.form_element:focus {
  background: var(--papaya);
  border-color: var(--sky_blue);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 8px rgba(102, 175, 233, 0.6);
  outline: 0 none;
}

/***** form elements --> darkmode *****/
.darkmode .form_element {
  color: var(--theme15);
  background: var(--theme17);
  border: 1px solid var(--theme19);
  border-radius: 3px;
  transition: border 0.3s linear 0s;
}

.darkmode .form_element:focus {
  background: var(--papaya);
  border-color: var(--sky_blue);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 8px rgba(102, 175, 233, 0.6);
  outline: 0 none;
}

/***** list table *****/
.listTable {
  width: 100%;
  color: var(--dark_gray);
  border-collapse: collapse;
  box-sizing: border-box;
}

.listTable th {
  padding: 10px 5px;
  /* text-align: center; */
  font-size: 14px;
  background-color: var(--light_gray);
}

.listTable th:first-child {
  border-top-right-radius: 3px;
}

.listTable th:last-child {
  border-top-left-radius: 3px;
}

.listTable .col1 {
  width: 5%;
}

.listTable .col2 {
  width: 10%;
}

.listTable .col3 {
  width: 15%;
}

.listTable .col4 {
  width: 20%;
}

.listTable .col5 {
  width: 25%;
}

.listTable .col6 {
  width: 30%;
}

.listTable .col7 {
  width: 35%;
}

.listTable .col8 {
  width: 40%;
}

.listTable .col9 {
  width: 45%;
}

.listTable .col10 {
  width: 50%;
}

.listTable .col11 {
  width: 55%;
}

.listTable .col12 {
  width: 60%;
}

.listTable .col13 {
  width: 65%;
}

.listTable .col14 {
  width: 70%;
}

.listTable .col15 {
  width: 75%;
}

.listTable .col16 {
  width: 80%;
}

.listTable .col17 {
  width: 85%;
}

.listTable .col18 {
  width: 90%;
}

.listTable .col19 {
  width: 95%;
}

.listTable .col20 {
  width: 100%;
}

.listTable .filterList td {
  background: var(--vlight_blue);
  border-bottom: 1px solid var(--light_blue);
  border-top: 1px solid var(--light_blue);
}

.listTable .filterList input[type="text"] {
  width: 95%;
  height: 30px;
  padding: 5px 10px;
  font-size: 11px;
}

.listTable .filterList button {
  width: 80px;
  height: 30px;
  color: var(--dark_gray);
  background-color: var(--white);
  border: 1px solid var(--gray);
  border-radius: 3px;
  /* padding: 4px 10px; */
  text-align: center;
  cursor: pointer;
}

.listTable tbody tr {
  border-bottom: 1px solid var(--light_gray);
}

.listTable td {
  padding: 10px 5px;
  vertical-align: middle;
  font-size: 14px;
}

.listTable tbody tr:nth-child(2n) td {
  /* background-color: #f0f0f0; */
  background-color: var(--vlight_gray);
}

.listTable .textRight {
  text-align: right;
}

.listTable .textCenter {
  text-align: center;
}

.listTable td.directionLeft {
  direction: ltr;
}

.listTable td.directionRight {
  direction: rtl;
}

.listTable td .parts {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
}

.listTable td .parts.wrap {
  flex-wrap: wrap;
}

.listTable td .parts .partItem {
  margin-left: 5px;
}

.listTable td .parts .partItem:last-child {
  margin-left: 0;
}

.listTable td .icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.listTable td .icons .iconItem {
  margin: 0 5px;
}

.listTable td .icons i,
.listTable td .icons svg {
  color: var(--dark_gray);
  fill: var(--dark_gray);
}

.listTable td .icons i {
  font-size: 18px;
}

.listTable td .icons svg {
  width: 18px;
}

/***** list table --> darkmode *****/
.darkmode .listTable {
  color: var(--vlight_gray);
}

.darkmode .listTable th {
  background-color: var(--theme13);
}

.darkmode .listTable tbody tr {
  border-bottom: 1px solid var(--theme13);
}

.darkmode .listTable tbody tr:nth-child(2n) td {
  background-color: var(--theme15);
}

.darkmode .listTable td .icons i,
.darkmode .listTable td .icons svg {
  color: var(--vlight_gray);
  fill: var(--vlight_gray);
}

/***** pagination *****/
.pagination {
  text-align: center;
  margin-top: 20px;
}

.pagination .paging {
  width: auto;
  /* display: inline-block; */
  float: left;
  border-radius: 3px;
  /* margin-left: 165px; */
  color: var(--dark_gray);
  border: 1px solid var(--gray);
}

.pagination .pageItem {
  float: left;
  border-right: 1px solid var(--gray);
}

.pagination .pageItem:last-child {
  border: none;
}

.pagination .pagePrev,
.pagination .pageNext {
  float: left;
  padding: 0px 9px;
  color: var(--dark_gray);
  font-size: 11px;
}

.pagination .pagePrev i,
.pagination .pageNext i {
  font-size: 11px;
  line-height: 30px;
}

.pagination .PageNumber {
  float: left;
  padding: 4px 11px;
  color: var(--dark_gray);
}

.pagination .PageNumber.active {
  background-color: var(--theme1);
  color: var(--white);
}

.pagination .goToPage {
  float: right;
  /* font-weight: bold; */
  /* margin-top: 3px; */
  /* width: 165px; */
  direction: rtl;
}

.pagination .jumpField {
  width: 80px;
  height: 28px;
  margin: 0 5px;
}

.pagination .jumpBtn {
  width: 80px;
  height: 30px;
  color: var(--dark_gray);
  background-color: var(--white);
  border: 1px solid var(--gray);
  border-radius: 3px;
  cursor: pointer;
}

/***** pagination --> darkmode *****/
.darkmode .pagination .paging {
  border: 1px solid var(--theme15);
}

.darkmode .pagination .PageNumber {
  color: var(--vlight_gray);
}

.darkmode .pagination .PageNumber.active {
  background-color: var(--theme17);
  color: var(--dark_gray);
}

.darkmode .pagination .pagePrev,
.darkmode .pagination .pageNext {
  color: var(--vlight_gray);
}

.darkmode .pagination .jumpBtn {
  color: var(--vlight_gray);
  background-color: var(--theme13);
  border: 1px solid var(--theme15);
}

/***** messages *****/
.alertMessages {
  direction: rtl;
  text-align: right;
  font-size: 13px;
  padding: 5px;
  margin: 0px 0 20px 0;
  line-height: 25px;
  border-radius: 3px;
}

.alertMessages svg {
  /* width: 17px; */
  display: inline-block;
  /* font-size: 13px; */
  /* padding-left: 5px; */
  vertical-align: text-top;
  /* height: 21px; */
}

.warningMsg {
  background-color: #feefb3;
  border-right: 3px solid var(--orange);
  color: var(--brown);
  fill: var(--brown);
}

.warningMsg svg {
  fill: var(--orange);
}

.infoMsg {
  background-color: #d9edf7;
  border-right: 3px solid var(--blue);
  color: var(--blue);
  fill: var(--blue);
}

.infoMsg svg {
  fill: var(--orange);
}

/***** schema *****/
.schema_content .schema_row {
  margin-bottom: 5px;
}

.schema_content .property_question {
  width: 250px;
  min-height: 30px;
  display: inline-block;
  vertical-align: top;
}

.schema_content .property_answer {
  width: calc(100% - 255px);
  min-height: 30px;
  display: inline-block;
}

.schema_content .answer {
  width: max-content;
  min-height: 30px;
  position: relative;
}

.schema_content input[type="text"],
.schema_content input[type="password"],
.schema_content input[type="email"],
.schema_content input[type="url"],
.schema_content input[type="number"],
.schema_content input[type="search"],
.schema_content input[type="tel"],
.schema_content input[type="color"],
.schema_content input[type="file"],
.schema_content select,
.schema_content textarea {
  width: 320px;
  display: inline-block;
  border-radius: 3px;
  padding: 5px;
  font-size: 12px;
  box-sizing: border-box;
}

.schema_content input[type="file"] {
  direction: ltr;
}

.schema_content input[type="text"],
.schema_content input[type="password"],
.schema_content input[type="email"],
.schema_content input[type="url"],
.schema_content input[type="number"],
.schema_content input[type="search"],
.schema_content input[type="tel"],
.schema_content input[type="color"],
.schema_content input[type="file"],
.schema_content select {
  height: 30px;
}

.schema_content textarea {
  height: 170px;
  resize: vertical;
}

.schema_content input[type="file"]::file-selector-button {
  border: 1px solid #adadad;
  border-radius: 3px;
  background-color: #e1e1e1;
  width: 70px;
  height: 18px;
  font-size: 11px;
}

.schema_content svg {
  width: 20px;
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  cursor: pointer;
  fill: var(--dark_gray);
  color: var(--dark_gray);
}

/***** schema help *****/
.schema_content .help {
  float: left;
  margin-left: 5px;
  line-height: 20px;
  cursor: pointer;
  position: relative;
}

.schema_content .help i {
  color: var(--blue);
  line-height: 20px;
  font-size: 16px;
}

.schema_content .help span {
  position: absolute;
  right: 0;
  width: 325px;
  padding: 5px 10px;
  margin-top: 27px;
  background: var(--black);
  color: var(--white);
  visibility: hidden;
  border-radius: 3px;
  text-align: justify;
  font-size: 13px;
}

.schema_content .help:hover span {
  visibility: visible;
  opacity: 0.8;
  z-index: 999;
}

/***** schema btn *****/
.schema_content .property_btn {
  max-width: 575px;
  text-align: left;
}

.schema_content .saveBtn {
  width: 80px;
  height: 30px;
  color: var(--dark_gray);
  background-color: var(--white);
  border: 1px solid var(--gray);
  border-radius: 3px;
  cursor: pointer;
}

/***** schema btn --> darkmode *****/
.darkmode .schema_content .saveBtn {
  color: var(--vlight_gray);
  background-color: var(--theme13);
  border: 1px solid var(--theme15);
}

/***** checkbox *****/
input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkboxLabel {
  margin: auto;
  cursor: pointer;
  clear: both;
  vertical-align: middle;
}

.checkboxLabel .checkbox_custom {
  display: inline-block;
  height: 18px;
  width: 18px;
  position: relative;
  vertical-align: middle;
  margin-left: 5px;
}

input[type="checkbox"]:checked + .checkboxLabel .checkbox_custom {
  -webkit-transform: rotate(0deg) scale(1);
  -ms-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
  opacity: 1;
}

.checkboxLabel .checkbox_custom::after {
  position: absolute;
  content: "";
  left: 12px;
  top: 12px;
  height: 0px;
  width: 0px;
  border-radius: 5px;
  border: solid var(--blue);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(0deg) scale(0);
  -ms-transform: rotate(0deg) scale(0);
  transform: rotate(0deg) scale(0);
  opacity: 1;
}

input[type="checkbox"]:checked + .checkboxLabel .checkbox_custom::after {
  -webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  opacity: 1;
  left: 6px;
  top: 2px;
  width: 4px;
  height: 10px;
  border-width: 0 2px 2px 0;
  background-color: transparent;
  border-radius: 0px;
}

input[type="checkbox"]:checked[readonly] + .checkboxLabel {
  pointer-events: none;
}

input[type="checkbox"]:disabled + .checkboxLabel {
  cursor: not-allowed;
}

input[type="checkbox"]:disabled + .checkboxLabel .checkbox_custom::after,
input[type="checkbox"]:checked[readonly]
  + .checkboxLabel
  .checkbox_custom::after {
  border-color: var(--gray);
}

/***** sidebar widget *****/
.sidebar {
  width: 100%;
  height: 100%;
  /* background-color: #35414f; */
  transition: 0.3s;
  float: right;
  direction: rtl;
}

.sidebar * {
  box-sizing: border-box;
}

.sidebar .icons.firstLevel {
  /* margin-top: 20px; */
  display: block;
}

.sidebar .icons.secondLevel {
  /* margin-top: 20px; */
  display: none;
}

.sidebar .sidebar-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  line-height: 0;
  padding: 10px 15px;
  width: 100%;
  height: 55px;
  cursor: pointer;
}

.sidebar .icons.secondLevel .sidebar-items {
  padding-right: 30px;
  background-color: #2c3642;
}

.sidebar .sidebar-items span {
  display: block;
  width: auto;
  font-size: 14px;
  padding-right: 10px;
  overflow-x: visible;
  color: var(--white);
}

.sidebar .sidebar-items i {
  color: var(--white);
  margin-left: 2px;
  font-size: 13px;
}

.sidebar .active-sidebar {
  background: #3e4b5c;
  line-height: 0;
  position: relative;
}

.sidebar .active-sidebar:before {
  content: "";
  position: absolute;
  width: 4px;
  left: 0;
  height: 100%;
  background: var(--orange);
}

/***** tree *****/
.treeBox .actionOnAll {
  border-bottom: 1px solid var(--light_gray);
  padding: 0 10px 5px;
  display: flex;
  flex-direction: row;
}

.treeBox .actionOnAll .icon {
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid var(--light_gray);
}

.treeBox svg {
  width: 25px;
}

.treeBox ul {
  margin: 0;
  padding-right: 25px;
  line-height: 40px;
  list-style: none;
  /* background-color: #fff; */
}

.treeBox ul li {
  position: relative;
}

.treeBox ul li:before {
  position: absolute;
  top: 0;
  right: -15px;
  display: block;
  width: 15px;
  height: 20px;
  content: "";
  border-bottom: 1px dotted #666;
  border-right: 1px dotted #666;
}

/* hide the vertical line on the first item */
.treeBox ul.tree > li:first-child:before {
  border-right: none;
}

.treeBox ul li:after {
  position: absolute;
  top: 20px;
  bottom: 1px;
  right: -15px;
  display: block;
  content: "";
  border-right: 1px dotted #666;
}

/* hide the lines on the last item */
.treeBox ul li:last-child:after {
  display: none;
}

.treeBox .itemTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: max-content;
  cursor: pointer;
  float: right;
  padding-right: 5px;
}

.treeBox .itemTitle span {
  margin-left: 5px;
}

.treeBox .itemIcon {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 14px;
  font-size: 14px;
  margin-left: 12px;
  margin-right: -28px;
  line-height: 14px;
  text-align: center;
  cursor: pointer;
  background-color: var(--white);
  border: 1px solid var(--vdark_gray);
  border-radius: 2px;
  font-style: normal;
}

.treeBox .itemActions {
  padding-right: 10px;
}

.treeBox .btn_list {
  border: none;
  background-color: inherit;
  font-size: 15px;
  padding: 0 3px;
  color: var(--dark_gray);
}

.treeBox .btn_list.cancelEvent {
  font-size: 13px;
  color: var(--red);
  display: none;
}

.treeBox .btn_list.cancelEvent i {
  font-weight: bold;
}

.treeBox .loadBox {
  line-height: initial;
}

.treeBox .loadBox.show {
  padding: 10px 20px 20px 0;
}

.treeBox .labelList {
  display: none;
}

.newLabelForm {
  display: none;
}

/***** tree --> darkmode *****/
.darkmode .treeBox ul li:before {
  border-bottom: 1px dotted var(--light_gray);
  border-right: 1px dotted var(--light_gray);
}

.darkmode .treeBox ul li:after {
  border-right: 1px dotted var(--light_gray);
}

.darkmode .treeBox .itemIcon {
  background-color: var(--theme11);
  border: 1px solid var(--vlight_gray);
}

.darkmode .treeBox .btn_list {
  color: var(--gray);
}

/***** header *****/
.user_info {
  float: right;
  padding: 5px 10px;
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
}

.user_info_img img {
  border-radius: 5px;
}

.user_info_img {
  float: right;
  height: 35px;
}

.header_wrapper {
  direction: rtl;
  background: #fff;
}

.select_service,
.select_business {
  width: 180px;
  height: 25px;
  background: #f9f9f9;
  padding: 15px;
  float: right;
  margin-right: 15px;
  position: relative;
  cursor: pointer;
}

.select_service_title {
  font-size: 12px;
  color: #bcbcbc;
}

.first_item_show {
  font-size: 12px;
}

.user_info_name {
  margin-right: 10px;
  width: calc(100% - 60px);
  display: inline-block;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bell,
.setting,
.logout {
  float: right;
  position: relative;
}

.bell svg {
  stroke: var(--dark_gray);
}

.user_info_setting {
  margin-top: 5px;
  float: left;
}

.red_dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #ee1a29;
  position: absolute;
  top: -5px;
  right: -5px;
}

.select_item {
  cursor: pointer;
  margin-top: px;
}

.select_item svg {
  float: left;
  position: relative;
  top: 15px;
}

.menu_wrapper {
  width: 100%;
  height: 50px;
  background: #4d576e;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  line-height: 50px;
}
.select_service_wrapper {
  position: relative;
}

.services_list,
.business_list {
  position: absolute;
  width: 210px;
  right: 0;
  top: 50px;
  background: #f9f9f9;
  padding-top: 0;
  opacity: 0;
}

.services_list li,
.business_list li {
  padding: 5px 15px;
  border-bottom: 1px dashed #dfdfdf;
  padding-top: 10px;
}

.services_list li:last-child,
.business_list li:last-child {
  border-bottom: none;
}

.logo {
  position: absolute;
  top: 5px;
  left: 5px;
}

.menu_items {
  display: flex;
  align-items: stretch;
  /* padding: 15px 0; */
  position: relative;
  z-index: 9;
}

.menu_items li {
  /* padding: 0 15px; */
  /* border-left: 1px solid rgba(255, 255, 255, 0.13); */
  /* cursor: pointer; */
  line-height: 50px;
}

.menu_items li a {
  color: #fff;
  padding: 0 15px;
  border-left: 1px solid rgba(255, 255, 255, 0.13);
  cursor: pointer;
}

.menu_items li:last-child {
  border: none !important;
}

.level1_menu {
  /* padding:0 15px; */
  position: relative;
}
.submenu {
  padding: 0;
  position: absolute;
  z-index: 9999;
  right: 0;
  top: 51px;
  width: 230px;
  display: none;
  background: #4d576e;
}
.submenu li {
  position: relative;
  display: inherit !important;
  padding: 5px 15px;
  line-height: 24px;
  border-bottom: 1px solid #6c768e;
}
.submenu li a {
  font-size: 15px;
  padding: 0;
  border-left: 0;
}

.module_items li {
  display: inline-block;
}

.moduleItem {
  /* display: flex; */
}

.module_items {
  display: none;
  vertical-align: top;
  position: relative;
  z-index: 9;
  background-color: #3a4459;
  /* overflow: hidden; */
  /* height: 50px; */
}

.body_wrapper {
  min-height: 200px;
}

.user_info_name1 {
  cursor: pointer;
  float: right;
}

.first_item_show_deactive {
  color: #bcbcbc;
}

.setting_btn {
  margin-left: 10px;
  margin-top: 5px;
  cursor: pointer;
}

.services_list li,
.business_list li {
  cursor: pointer;
  position: relative;
}

.services_list li div,
.business_list li div {
  position: relative;
  display: inline;
}

.red_popup {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  display: inline-block;
  position: absolute;
  left: 12px;
  top: 10px;
}

.red_dot1 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #ee1a29;
  position: absolute;
  top: -5px;
  left: -7px;
}

.services_list ul,
.business_list ul {
  height: auto;
  max-height: 200px;
  overflow: auto;
}

.loading {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  display: inline-block;
  position: absolute;
  left: 12px;
  top: 10px;
  display: none;
}

.loading svg {
  animation: spin 2s linear infinite;
  fill: var(--vdark_gray);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.filterInput {
  padding: 5px 5px;
  border-bottom: 1px dashed #dfdfdf;
  /* padding-top: 10px; */
}

.filterInput input {
  width: calc(100% - 20px);
  height: 30px;
  padding: 0px 10px;
  font-size: 11px;
}

.autocomplete-active {
  background-color: var(--light_gray) !important;
}

/***** header --> darkmode *****/
.darkmode .header_wrapper {
  background: var(--theme10);
}

.darkmode .autocomplete-active {
  background-color: var(--theme13) !important;
}

.darkmode .save_btn {
  background: var(--theme13);
  border: 1px solid var(--theme15);
}

.darkmode .bell svg {
  stroke: var(--vlight_gray);
}

.darkmode .select_service,
.darkmode .select_business {
  background: var(--theme12);
}

.darkmode .select_item svg {
  fill: var(--vlight_gray);
}

.darkmode .services_list,
.darkmode .business_list {
  background: var(--theme12);
}

.darkmode .loading svg {
  animation: spin 2s linear infinite;
  fill: var(--vlight_gray);
}

.darkmode .menu_wrapper {
  background: var(--theme14);
}

.darkmode .submenu {
  background: var(--theme14);
}

.darkmode .submenu li {
  border-bottom: 1px solid #8790a4;
}

.darkmode .module_items {
  background-color: var(--theme11);
}

/*****  *****/
.body {
  width: 100%;
  text-align: center;
  min-height: 200px;
  box-sizing: border-box;
}

.breadcrumb {
  width: 100%;
  display: flex;
  direction: ltr;
  align-items: center;
  padding: 15px;
  justify-content: space-between;
  box-sizing: border-box;
}

.breadcrumb_wrapper {
  width: 100%;
  /* background: #fff; */
  min-height: 50px;
  display: none;
}
.widget_box {
  border: 2px dashed #ccc;
  background: #eee;
  position: absolute;
  z-index: -1;
  display: flex;
  text-align: center;
  align-items: center;
  font-size: 24px;
  justify-content: center;
}

/*basis core grid*/
.grid-basiscore {
  position: relative;
  padding: 10px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
.darkmode .grid-basiscore {
  background-color: var(--theme10);
}

.grid-basiscore > .grid-basiscore-item {
  min-width: 8.3333333333%;
  position: absolute;
  padding: 0;
  overflow: hidden;
}
.grid-wrapper {
  position: relative;
  width: 100%;
}
.grid-basiscore-item {
  position: absolute;
}
.grid-basiscore > .grid-basiscore-item > .grid-basiscore-content {
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 10px;
  box-sizing: border-box;
}

.grid-basiscore > .grid-basiscore-item[gs-w="1"] {
  width: 8.3333333333%;
}

.grid-basiscore > .grid-basiscore-item[gs-x="1"] {
  left: 8.3333333333%;
}

.grid-basiscore > .grid-basiscore-item[gs-min-w="1"] {
  min-width: 8.3333333333%;
}

.grid-basiscore > .grid-basiscore-item[gs-max-w="1"] {
  max-width: 8.3333333333%;
}

.grid-basiscore > .grid-basiscore-item[gs-w="2"] {
  width: 16.6666666667%;
}

.grid-basiscore > .grid-basiscore-item[gs-x="2"] {
  left: 16.6666666667%;
}

.grid-basiscore > .grid-basiscore-item[gs-min-w="2"] {
  min-width: 16.6666666667%;
}

.grid-basiscore > .grid-basiscore-item[gs-max-w="2"] {
  max-width: 16.6666666667%;
}

.grid-basiscore > .grid-basiscore-item[gs-w="3"] {
  width: 25%;
}

.grid-basiscore > .grid-basiscore-item[gs-x="3"] {
  left: 25%;
}

.grid-basiscore > .grid-basiscore-item[gs-min-w="3"] {
  min-width: 25%;
}

.grid-basiscore > .grid-basiscore-item[gs-max-w="3"] {
  max-width: 25%;
}

.grid-basiscore > .grid-basiscore-item[gs-w="4"] {
  width: 33.3333333333%;
}

.grid-basiscore > .grid-basiscore-item[gs-x="4"] {
  left: 33.3333333333%;
}

.grid-basiscore > .grid-basiscore-item[gs-min-w="4"] {
  min-width: 33.3333333333%;
}

.grid-basiscore > .grid-basiscore-item[gs-max-w="4"] {
  max-width: 33.3333333333%;
}

.grid-basiscore > .grid-basiscore-item[gs-w="5"] {
  width: 41.6666666667%;
}

.grid-basiscore > .grid-basiscore-item[gs-x="5"] {
  left: 41.6666666667%;
}

.grid-basiscore > .grid-basiscore-item[gs-min-w="5"] {
  min-width: 41.6666666667%;
}

.grid-basiscore > .grid-basiscore-item[gs-max-w="5"] {
  max-width: 41.6666666667%;
}

.grid-basiscore > .grid-basiscore-item[gs-w="6"] {
  width: 50%;
}

.grid-basiscore > .grid-basiscore-item[gs-x="6"] {
  left: 50%;
}

.grid-basiscore > .grid-basiscore-item[gs-min-w="6"] {
  min-width: 50%;
}

.grid-basiscore > .grid-basiscore-item[gs-max-w="6"] {
  max-width: 50%;
}

.grid-basiscore > .grid-basiscore-item[gs-w="7"] {
  width: 58.3333333333%;
}

.grid-basiscore > .grid-basiscore-item[gs-x="7"] {
  left: 58.3333333333%;
}

.grid-basiscore > .grid-basiscore-item[gs-min-w="7"] {
  min-width: 58.3333333333%;
}

.grid-basiscore > .grid-basiscore-item[gs-max-w="7"] {
  max-width: 58.3333333333%;
}

.grid-basiscore > .grid-basiscore-item[gs-w="8"] {
  width: 66.6666666667%;
}

.grid-basiscore > .grid-basiscore-item[gs-x="8"] {
  left: 66.6666666667%;
}

.grid-basiscore > .grid-basiscore-item[gs-min-w="8"] {
  min-width: 66.6666666667%;
}

.grid-basiscore > .grid-basiscore-item[gs-max-w="8"] {
  max-width: 66.6666666667%;
}

.grid-basiscore > .grid-basiscore-item[gs-w="9"] {
  width: 75%;
}

.grid-basiscore > .grid-basiscore-item[gs-x="9"] {
  left: 75%;
}

.grid-basiscore > .grid-basiscore-item[gs-min-w="9"] {
  min-width: 75%;
}

.grid-basiscore > .grid-basiscore-item[gs-max-w="9"] {
  max-width: 75%;
}

.grid-basiscore > .grid-basiscore-item[gs-w="10"] {
  width: 83.3333333333%;
}

.grid-basiscore > .grid-basiscore-item[gs-x="10"] {
  left: 83.3333333333%;
}

.grid-basiscore > .grid-basiscore-item[gs-min-w="10"] {
  min-width: 83.3333333333%;
}

.grid-basiscore > .grid-basiscore-item[gs-max-w="10"] {
  max-width: 83.3333333333%;
}

.grid-basiscore > .grid-basiscore-item[gs-w="11"] {
  width: 91.6666666667%;
}

.grid-basiscore > .grid-basiscore-item[gs-x="11"] {
  left: 91.6666666667%;
}

.grid-basiscore > .grid-basiscore-item[gs-min-w="11"] {
  min-width: 91.6666666667%;
}

.grid-basiscore > .grid-basiscore-item[gs-max-w="11"] {
  max-width: 91.6666666667%;
}

.grid-basiscore > .grid-basiscore-item[gs-w="12"] {
  width: 100%;
}

.grid-basiscore > .grid-basiscore-item[gs-x="12"] {
  left: 100%;
}

.grid-basiscore > .grid-basiscore-item[gs-min-w="12"] {
  min-width: 100%;
}

.grid-basiscore > .grid-basiscore-item[gs-max-w="12"] {
  max-width: 100%;
}

.grid-basiscore.grid-basiscore-1 > .grid-basiscore-item {
  min-width: 100%;
}

.grid-basiscore.grid-basiscore-1 > .grid-basiscore-item[gs-w="1"] {
  width: 100%;
}

.grid-basiscore.grid-basiscore-1 > .grid-basiscore-item[gs-x="1"] {
  left: 100%;
}

.grid-basiscore.grid-basiscore-1 > .grid-basiscore-item[gs-min-w="1"] {
  min-width: 100%;
}

.grid-basiscore.grid-basiscore-1 > .grid-basiscore-item[gs-max-w="1"] {
  max-width: 100%;
}
.btn {
  padding: 5px 10px;
  border: 1px solid #eee;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 15px;
  background: #fff;
  box-sizing: border-box;
  /* height: 40px; */
  z-index: 99;
}
.save_btn {
  padding: 5px 10px;
  border: 1px solid #eee;
  border-radius: 5px;
  cursor: pointer;
  background: #fff;
  box-sizing: border-box;
  /* height: 40px; */
  z-index: 99;
  margin-left: 0 !important;
}
.wigets {
  display: flex;
}
.hide_widget_btn {
  display: none;
}
.fixed {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}
.exist_widgets .delete_widget {
  position: relative;
  z-index: 9999;
  display: none;
}
.absolute {
  position: absolute !important;
  cursor: move !important;
  z-index: 9999;
}
.widget_editable .widget_title {
  cursor: pointer;
}
.widget_shadow {
  box-shadow: 0 0 10px #e5e5e5;
  transition: all 0.4s ease-in;
  margin-top: 2px;
  margin-left: 2px;
}
.widget_editable_animation {
  transition: all 0.4s;
}
#menu .lni {
  font-size: 10px;
  position: relative;
  right: 5px;
  top: 2px;
}
.loading1 i {
  font-size: 24px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: spin 2s linear infinite;
  color: #4d576e;
}
.sidebar_wrapper .grid-basiscore-content {
  padding: 0 !important;
}
.sidebar_wrapper .grid-basiscore-content {
  background: #35414f;
}
.sidebar_wrapper ul {
  padding: 10px;
  direction: rtl;
  text-align: right;
}
.sidebar_wrapper ul li {
  width: 100%;
  padding: 10px 0;
  display: block;
}
.sidebar_wrapper ul li a {
  color: #fff;
  font-size: 14px;
}
#body {
  height: 100%;
}
.setting_btn {
  float: left;
  margin-top: 0;
}

.setting_btn svg {
  vertical-align: middle;
}

.darkmode_btn {
  margin-left: 20px;
  cursor: pointer;
  float: right;
  height: 50px;
}

.darkmode_btn svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
  fill: var(--vlight_gray);
}

.darkmode .darkmode_btn svg {
  fill: #fbc02d;
}
.widgetload {
  height: 100%;
}
.footer_wrapper {
  background: #333;
  color: #fff;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*calendar*/
.bcCalendarBox {
  border: 1px solid #ccc;
  width: 360px;
  position: absolute;
}
.day {
  line-height: 20px;
  border: 1px solid #efefef;
  border-bottom-color: rgb(239, 239, 239);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgb(239, 239, 239);
  border-left-style: solid;
  border-left-width: 1px;
  text-align: center;
  border-left: none;
  border-bottom: 0;
  cursor: pointer;
  font-family: "IRANSansWeb";
  background: #fff;
  position: relative;
  padding: 5px;
  width: 40px;
  height: 40px;
}
.mstring_date {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: #ccc;
  font-size: 10px;
}
.day:hover {
  background: #f2fbfd;
}
.today {
  background: #f2fbfd;
}
.calendar_body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  direction: rtl;
}
.days_title {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  direction: rtl;
}
.days_title div {
  padding: 5px;
  font-weight: bold;
  background: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.days_title div:hover {
  background: none;
}
.month_title {
  border: 1px solid #dddddd;
  background: #e9e9e9;
  color: #333333;
  align-items: center;
  font-weight: bold;
  text-align: center;
  justify-content: space-between;
  display: flex;
  height: 30px;
}
.bcCalendar_today {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.next_btn {
  padding: 5px;
  cursor: pointer;
}
#calendar1 {
  direction: rtl;
  text-align: right;
  padding: 5px 10px;
}
/**/
