:root {
  --dark_blue: #004B85;
  --dark_white: #F4F4F4;
  --blue_hover: #003259;
  --light_blue: #e5ecf3;
  --vlight_blue: #f7f7f8;
  --vdark_gray: #212121;
  --dark_gray: #555;
  --gray: #D0D0D0;
  --vlight_gray: #f0f0f0;
  --red: #B40020;
  --light_red: rgba(180, 0, 32, 0.1);
  --white: #ffffff;
  --light_gray1: #767676;
  --frw_color: rgba(2, 75, 129, 0.1);
  --vlight_red: rgba(180, 0, 32, 0.1);
  --light_green: rgba(0, 166, 147, 0.1);
  --gray5: rgba(118, 118, 118, 0.1);
  --sdark_gray: #767676;
  --mwhite: #fbfdff;
  --gray7: #767676;
  --listItem : #68737C;
  --sidebaritem : #68737C;
  --menu:#68737C
}

[data-sys-container] {
  background-color: #F2F6F9;
}

[data-sys-header] {
  background-color: var(--white);
  color: var(--black);
}

[data-sys-header-logo] {
  background-image: url('../images/basispanel-logo.png') !important;
}

/* [data-sys-menu-link] {
  color: var(--menu) !important;
} */

[data-sys-menu-external] {
  background-color: var(--dark_white) !important;
  border-color: var(--dark_white) !important;
}

[data-sys-menu] {
  border-color: #e1e1e1 !important;
  background-color: var(--white) !important;
  color: var(--vdark_gray) !important;
}

[data-sys-menu] ul li:hover>a,
[data-sys-submenu-parent]>li:hover>a {
  color: var(--dark_blue) !important;
}

[data-sys-menu] li {
  /* border-color: var(--gray) !important; */
  white-space: nowrap !important;

}

[data-sys-submenu-parent]>li :hover {
  border-color: var(--dark_blue) !important;
}

[data-sys-menu] li:hover>[data-bc-level] {
  color: var(--dark_blue) !important;
  /* background-color: rgba(0, 75, 133, 0.1); */
}

[data-sys-menu]>li:hover>a,
[data-sys-menu] [data-bc-bp-menu-external]>li:hover>a,
[data-sys-menu] [data-bc-bp-menu-external-single-node]>li:hover>a {
  border-color: var(--dark_blue) !important;
  color: var(--dark_blue) !important;
}

[data-sys-menu] [data-bc-menu-active] {
  position: relative;
  font-weight: bold;
}
[data-sys-menu] [data-bc-menu-active]:before{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color:var(--dark_blue) ;
  position: absolute;
  right: 0;
  content: '';
  top: 25px;
  left: 15px;
  display: inline-block;
  margin-left: 5px;
}

[data-sys-menu] [data-bc-menu-active]>a {
  color: var(--dark_blue) !important;
}

[data-sys-menu] ul {
  border-color: #e1e1e1 !important;
}

[data-sys-menu]>ul>li {
  border-color: var(--white) !important;
}

[data-sys-menu] ul li:hover {
  border-color: var(--dark_blue) !important;
}

[data-bc-bp-menu-external-single-node] ul li {
  border-color: var(--gray) !important;
}

[data-sys-menu] [data-bc-bp-submenu] li>a {
  border-color: var(--gray) !important;
}

[data-sys-sidebar] {
  /* background-color: var(--white) !important; */
  color: var(--sidebaritem) !important;
}

[data-sys-widget] {
  background-color: var(--white);
  /* border: 1px solid var(--light_gray); */
  border: 1px solid #E9E9EA;
}


.active-corporate [data-bc-corporate-name],

.active-business [data-bc-corporate-name] [data-bc-corporate-name] {
  color: rgba(0, 75, 133, 1) !important;
}

[data-bc-bp-direction="rightToLeft"] .active-corporate [data-bc-drop-down-click],
[data-bc-bp-direction="rightToLeft"] .active-business [data-bc-drop-down-click] {
  color: rgba(0, 75, 133, 1) !important;
  border-radius: 5px;
  /* border-right: 1px solid rgba(0, 75, 133, 1); */
}

[data-bc-bp-direction="leftToRight"] .active-corporate [data-bc-drop-down-click],
[data-bc-bp-direction="leftToRight"] .active-business [data-bc-drop-down-click] {
  color: rgba(0, 75, 133, 1) !important;
  border-radius: 5px;
  border-left: 1px solid rgba(0, 75, 133, 1);
}

[data-sys-widget-header] {
  color: var(var(--vdark_gray));
  /* border-bottom: 0.5px solid #E8E8E8 !important; */
  /* border-bottom: 1px solid var(--light_gray) !important; */
}

/* [data-sys-header-button] {
  background: #E4E7F4 !important;
} */

[data-sys-header-button] svg {
  fill: var(--dark_blue) !important;
}

[data-sys-business] [data-bc-drop-down-container],
[data-sys-corporate] [data-bc-drop-down-container] {
  background: var(--white);
}

[data-sys-widget] {
  background: var(--white) !important;
  position: relative;
  border: 1px solid #E9E9EA !important;
}

[data-sys-addtodashboard] svg,
[data-sys-widget-close] svg,
[data-sys-addtodashboard] path,
[data-sys-widget-close] path {
  fill: #323232;
}

[data-sys-footer],
[data-sys-footer] a,
[data-sys-footer] svg,
[data-sys-footer] path {
  background-color: var(--white);
  color: #898989;
  fill: #898989;
}

[data-sys-business] li:hover,
[data-sys-corporate] li:hover {
  background: rgba(0, 75, 133, 0.1) !important;
  color: var(--vdark_gray) !important;
}

[data-bc-bp-cart-container],
[data-bc-bp-scheduler-container],
[data-bc-bp-notification-container] {
  background: transparent !important;
}

[data-bc-bp-cart-container] path,
[data-bc-bp-scheduler-container] path,
[data-bc-bp-notification-container] path {
  fill: var(--dark_blue) !important;
}

[data-bc-cart-alarm],
[data-bc-task-list-alarm],
[data-bc-notification-alarm] {
  background-color: #F9461C !important;
}
[data-bc-task-list-alarm]{
  display: n;
}
[data-sys-button] {
  background: var(--dark_blue) !important;
  /* border-color: var(--dark_blue) !important; */
  color: var(--white) !important;
  transition: all 0.1s ease-in-out;
  
}
[data-sys-button-type2] {
  background: #CCDBE7 !important;
  /* border-color: var(--dark_blue) !important; */
  color: var(--dark_blue) !important;
  border-right: 4px solid var(--dark_blue);
  border-left: 4px solid var(--dark_blue);
  font-weight: bold;
  position: relative;
  transition: all 0.1s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
[data-sys-button-type2]:hover {
  background: #CCDBE7 !important;
  /* border-color: var(--dark_blue) !important; */
  color: var(--dark_blue) !important;
  cursor: pointer;
  border-right: 4px solid #CCDBE7;
  border-left: 4px solid #CCDBE7;
}
[data-sys-excel-button]{
  background: #1D6F42 !important;
  color: var(--white) !important;
}
[data-sys-button] svg,
[data-sys-button] path {
  fill: var(--white) !important;
}

[data-sys-button-disable] {
  /* background: var(--gray) !important;
  border-color: var(--gray) !important; */
  color: var(--white) !important;
  opacity: 0.5 !important;
}

[data-sys-button-disable] svg,
[data-sys-button-disable] path {
  fill: var(--white) !important;
}

[data-sys-button-delete] {
  background: var(--red) !important;
  border-color: var(--red) !important;
  color: var(--white) !important;
}

[data-sys-button-delete] svg,
[data-sys-button-delete] path {
  fill: var(--white) !important;
}

[data-sys-text-disabled] {
  color: var(--gray) !important;
  fill: var(--gray) !important;
}

[data-sys-text] {
  color: var(--vdark_gray) !important;
  fill: var(--vdark_gray) !important;
}

[data-sys-text-bold] {
  font-weight: bold !important;
}

[data-sys-text-reverse] {
  color: var(--white) !important;
  fill: var(--white) !important;
}

[data-sys-text-colorful] {
  color: var(--dark_blue) !important;
  fill: var(--dark_blue) !important;
}

[data-today] {
  background-color: #F7F9FF !important;
  color: var(--vdark_gray) !important;
}

[data-sys-popup] {
  background: var(--white);
}

[data-sys-popup-border] {
  border-color: #bcbdbf !important;
}

[data-sys-bg] {
  background: #F3F3F3 !important;
}

[data-id1]:hover {
  border: 0.5px solid var(--dark_blue) !important;
}

[data-sys-input-text],
[data-sys-textarea],
[data-sys-select-option],
[data-sys-part-checkbox],
[data-sys-part-radio],
[data-sys-auto-complete],
[data-sys-select-lookup],
[data-sys-select-select] {
  background-color: rgba(208, 208, 208, 0.15) !important;
  border: 1px solid #E8E8E8 !important;
  color: var(--vdark_gray) !important;
}

[data-sys-input-text-secondary] {
  background: var(--white) !important;
  border: 1.5px solid rgba(0, 75, 133, 0.1) !important;
  color: var(--dark_gray);
}

[data-sys-input-text]:hover,
[data-sys-textarea]:hover,
[data-sys-select-option]:hover,
[data-sys-part-checkbox]:hover,
[data-sys-part-radio]:hover,
[data-sys-auto-complete]:hover,
[data-sys-select-lookup]:hover,
[data-sys-select-select]:hover {
  background: rgba(208, 208, 208, 0.3) !important;
}

[data-sys-input-text]:focus,
[data-sys-textarea]:focus,
[data-sys-select-option]:focus,
[data-sys-part-checkbox]:focus,
[data-sys-part-radio]:focus,
[data-sys-auto-complete]:focus,
[data-sys-select-lookup]:focus,
[data-sys-select-select]:focus {
  box-shadow: none !important;
  border: 1px solid #004B85 !important;
  box-shadow: 0px 0px 4px rgba(0, 75, 133, 0.25) !important;
}

[data-bc-part][data-bc-invalid] [data-sys-input-text],
[data-bc-part][data-bc-invalid] [data-sys-textarea],
[data-bc-part][data-bc-invalid] [data-sys-select-option],
[data-bc-part][data-bc-invalid] [data-sys-part-checkbox],
[data-bc-part][data-bc-invalid] [data-sys-part-radio],
[data-bc-part][data-bc-invalid] [data-sys-auto-complete],
[data-bc-part][data-bc-invalid] [data-sys-select-lookup],
[data-bc-part][data-bc-invalid] [data-sys-select-select] {
  background: rgba(208, 208, 208, 0.15);
  border: 1px solid #B40020 !important;
  color: var(--vdark_gray) !important;
  box-shadow: 0px 0px 4px rgba(180, 0, 32, 0.25);
}

[data-bc-part][data-bc-invalid] ul {
  color: #B40020;
  background-color: inherit !important;
}

[data-bc-part][data-bc-invalid] ul li {
  color: #B40020 !important;
  background-color: inherit !important;
}


[data-sys-autocomplete-popup] {
  background-color: var(--white) !important;
}

[data-bc-part][data-bc-invalid] {
  background-color: #fff !important;
  box-shadow: none !important;
}

[data-bc-part][data-bc-invalid] * {
  background-color: inherit !important;
  box-shadow: none !important;
}

[data-sys-autocomplete-popup-header] {
  border-color: #bcbdbf !important;
  background-color: #f7f7f7 !important;
}

[data-sys-autocomplete-popup-body] {
  background-color: var(--mwhite) !important;
}

[data-sys-search-result] {
  background: var(--white) !important;
  box-shadow: 0px 5px 10px rgba(0, 75, 133, 0.1) !important;
}

[data-sys-bg-primary] {
  background: rgba(0, 75, 133, 0.1) !important;
}

[data-sys-bg-secondary] {
  background: var(--white) !important;
  border: 1px solid #E5E5E5 !important;
  box-shadow: 0px 5px 10px rgba(0, 75, 133, 0.1) !important;
}

[data-sys-bg-third] {
  background: var(--vlight_gray) !important;
  border-color: var(--vlight_gray) !important;
}

[data-sys-hover]:hover {
  background-color: var(--light_blue) !important;
}

[data-sys-border-color] {
  border-color: var(--gray) !important;
}

[data-sys-cancel] {
  border: 1px solid rgba(96, 91, 255, 0.1) !important;
  color: var(--vdark_gray) !important;
  background: var(--white) !important;
}

[data-sys-cancel]:hover {
  background: rgba(0, 75, 133, 0.1) !important;
}

[data-sys-cancel-btn]:hover {
  background-color: rgba(0, 75, 133, 0.1) !important;
}

[data-sys-submit] {
  background-color: var(--dark_blue) !important;
  color: var(--white) !important;
  border: 1px solid var(--dark_blue) !important;
  padding: 5px 10px;
  border-radius: 5px;
}

[data-sys-submit]:hover {
  background-color: var(--blue_hover) !important;
  border: 1px solid var(--blue_hover) !important;
  cursor: pointer;
}

[data-sys-text-white] {
  color: var(--white) !important;
}

[data-sys-text-blue] {
  color: var(--dark_blue) !important;
  fill: var(--dark_blue) !important;
}

[data-sys-btn-info] {
  padding: 5px 10px;
  background-color: #E4E7F4 !important;
  color: var(--dark_blue) !important;
}

[data-sys-grid-border-color] {
  border-color: #E9E9EA !important;
}

/* [data-sys-thead] {
  border-top: 1px solid var(--gray) !important;
  border-bottom: 1px solid var(--gray) !important;
} */
/* 
[data-sys-thead] [data-sys-tr] {
  background-color: var(--light_blue) !important;
  border-left: 1px solid #E9E9EA !important;
  border-right: 1px solid #E9E9EA !important;
} */

[data-sys-th] {
  /* background-color: var(--light_blue) !important; */
  color: var(--dark_blue) !important;
}

[data-sys-th][data-bc-sorting] {
  padding: 10px 25px;
  text-align: right;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: right 1% bottom 50%;
  background-image: url("../images/sort_both_light.png") !important;
}

[data-sys-th][data-bc-sorting="asc"] {
  background-image: url("../images/sort_asc_light.png") !important;
}

[data-sys-th][data-bc-sorting="desc"] {
  background-image: url("../images/sort_desc_light.png") !important;
}

[data-sys-th] svg,
[data-sys-th] path {
  fill: var(--dark_blue) !important;
}

[data-sys-th-icon] {
  color: var(--dark_blue) !important;
  fill: var(--dark_blue) !important;
}

tbody [data-sys-tr] {
  border-left: 1px solid #E9E9EA !important;
  border-right: 1px solid #E9E9EA !important;
}

tbody [data-sys-tr]:nth-child(2n) {
  background-color: #F4F4F4 !important;
}

tbody [data-sys-tr]:last-child {
  border-bottom: 1px solid #E9E9EA !important;
}

tbody [data-sys-tr]:hover {
  background-color: #cfd6dc !important;
}

tbody [data-sys-tr][data-sys-tr-no-data]:hover {
  background-color: transparent !important;
}

tbody [data-sys-td] {
  color: var(--vdark_gray) !important;
  fill: var(--vdark_gray) !important;
}

/* [data-sys-paging-container] {
  background-color: #DBE8F1 !important;
} */

/* [data-sys-paging-pageNo] {
  color: var(--dark_gray) !important;
} */

/* [data-sys-paging-active] {
  background: var(--dark_blue) !important;
  color: var(--white) !important;
} */

[data-sys-start-end][data-bc-status=""],
[data-sys-previous-next][data-bc-status=""] {
  color: var(--dark_blue) !important;
}

[data-sys-start-end][data-bc-status=""] path,
[data-sys-previous-next][data-bc-status=""] path {
  fill: var(--dark_blue) !important;
}

[data-sys-start-end][data-bc-status="disabled"],
[data-sys-previous-next][data-bc-status="disabled"] {
  color: var(--gray) !important;
}

[data-sys-start-end][data-bc-status="disabled"] path,
[data-sys-previous-next][data-bc-status="disabled"] path {
  fill: var(--gray) !important;
}

[data-sys-tree-toggle-icon] {
  background-color: var(--white) !important;
  border-color: var(--vdark_gray) !important;
}

[data-sys-tree-action-icon] path,
[data-sys-tree-action-icon] i {
  color: var(--dark_gray) !important;
  fill: var(--dark_gray) !important;
}

[data-sys-tree-action-icon-active] path,
[data-sys-tree-action-icon-active] i {
  color: var(--dark_blue) !important;
  fill: var(--dark_blue) !important;
}

[data-sys-tree-load-boxes] {
  background-color: #fafafa !important;
}

[data-sys-tree-load-box-show] {
  border-color: rgba(0, 0, 0, 0.1) !important;
}

[data-sys-tile-border] {
  border: 1px solid #E9E9EA !important;
  border-top: 0;
  border-radius: 0 0 5px 5px;
}

[data-sys-tile] {
  border: 1px solid var(--gray) !important;
}

[data-sys-tile-action] {
  background-color: var(--light_blue) !important;
}

[data-sys-plus] {
  background-color: rgba(0, 75, 133, 0.05) !important;
}

[data-sys-plus-icon] {
  color: var(--dark_blue) !important;
  fill: var(--dark_blue) !important;
}

[data-sys-minus] {
  background-color: #f7f0f3 !important;
}

[data-sys-minus-icon] {
  color: #B40020 !important;
  fill: #B40020 !important;
}

[data-sys-tick] {
  background-color: #00a6930d !important;
}

[data-sys-tick-icon] {
  color: #00A693 !important;
  fill: #00A693 !important;
}

[data-sys-close] {
  background-color: #f7f0f3 !important;
}

[data-sys-close-icon] {
  color: #B40020 !important;
  fill: #B40020 !important;
}

[data-sys-button-secondary] {
  background-color: var(--white) !important;
  color: var(--dark_blue) !important;
  border: 1px solid var(--dark_blue) !important;
}

[data-sys-button-secondary] svg,
[data-sys-button-secondary] path {
  color: var(--dark_blue) !important;
  fill: var(--dark_blue) !important;
}

[data-sys-button-delete-secondary] {
  background-color: var(--white) !important;
  color: var(--red) !important;
  border: 1px solid var(--red) !important;
}

[data-sys-button-delete-secondary] svg,
[data-sys-button-delete-secondary] path {
  color: var(--red) !important;
  fill: var(--red) !important;
}

[data-sys-message-success] {
  background-color: #D9F2EF;
  color: #00A693;
  padding: 7px 15px;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  transform: translateY(50px);
  opacity: 0;
}

[data-sys-message-success-fade-in] {
  transform: translateY(0px) !important;
  opacity: 1 !important;
}

[data-sys-message-success-fade-out] {
  transform: translateY(50px) !important;
  opacity: 0 !important;
}

[data-sys-message-danger] {
  background-color: var(--light_red);
  color: var(--red);
  padding: 7px 15px;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  transform: translateY(50px);
  opacity: 0;
}

[data-sys-message-danger-fade-in] {
  transform: translateY(0px) !important;
  opacity: 1 !important;
}

[data-sys-message-danger-fade-out] {
  transform: translateY(50px) !important;
  opacity: 0 !important;
}

[data-sys-tab-container] {
  background-color: #f2f6f9 !important;
}

[data-sys-tab-active] {
  background-color: var(--dark_blue) !important;
}

/* schema maker */
[data-sys-sm-sides] {
  background-color: #f1f1f1 !important;
  border-color: #D0D0D0 !important;
}

[data-sys-sm-active-tab] {
  background-color: #004B85 !important;
}

[data-sys-sm-workspace] {
  background-color: #fff !important;
}

[data-sys-sm-board] {
  background-color: #fafafa !important;
  border-color: #767676 !important;
}

[data-sys-text-primary] {
  color: var(--light_gray1) !important;
}

[data-sys-link-domain] {
  color: var(--dark_blue)
}

[data-sys-span-forward] {
  background-color: var(--frw_color) !important;
}

[data-sys-span-expired] {
  background-color: var(--gray5) !important;
}

[data-sys-span-default] {
  background-color: var(--light_green) !important;
}

[data-sys-span-ex-close] {
  background-color: var(--vlight_red) !important;
}

[data-sys-popup-body] {
  background-color: var(--mwhite) !important;
}

[data-sys-svg-star] {
  color: var(--sdark_gray) !important;
}

[data-sys-same-tr]:nth-child(2n) {
  background-color: #F4F4F4 !important;
}

[data-sys-same-tr]:hover {
  background-color: #cfd6dc !important;
}

[data-sys-tabContent] {
  background: #f7f7f7;
}

.check-label>input[type="checkbox"]+*::before {
  border-color: var(--dark_blue);
}

[data-sys-more-icon] {
  color: var(--gray7) !important;
  fill: var(--gray7) !important;
}

[data-sys-text-delete] {
  color: var(--red) !important;
  fill: var(--red) !important;
}

[data-sys-tooltip]:before {
  position: absolute;
  bottom: -35px;
  /* left: 0; */
  /* margin-bottom: 5px; */
  /* margin-right: -15px; */
  /* transform: translateX(-50%); */
  padding: 10px 7px;
  width: max-content;
  border-radius: 10px;
  background-color: #fff;
  background-color: #767676;
  color: #fff;
  /* content: attr(data-widget-add-dashboard); */
  text-align: center;
  font-size: 12px;
  line-height: 1.2;
}

/* 29950 */
/* [data-sys-tooltip]:before {
  border-color: #000 !important;
  border-color: hsla(0, 0%, 20%, 0.9) !important;
} */

[data-sys-button]:hover {
  background: #4D81AA !important;
}


[data-sys-button]:focus{
  background: #336F9D !important;
  border-right:4px solid #004B85 ;
  border-left:4px solid #004B85 ;
}
[data-sys-button] i {
  font-size: 15px;
  /* display: block; */
  margin-left: 10px;
  vertical-align: middle;
}

/* test */


[data-bc-bp-widget-container] [data-bc-widget-inner-container] {
  border-radius: 10px;
}

[data-bc-widget-title] {
  /* background: rgba(118, 118, 118, 0.1);
  border: 1px solid #E8E8E8; */
  border-radius: 10px;
  color: #68737C;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

/* [data-bc-widget-title]:hover {
  background-color: #767676 !important;
  color: #fff !important;
} */

[data-bc-widget-buttons] span {
  /* padding: 5px 10px; */
  border-radius: 10px;
  /* background: rgba(118, 118, 118, 0.1); */
  width: 25px;
  height: 25px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

[data-bc-widget-buttons] span path {
  fill: #767676;
  transition: all 0.3s ease-in-out;
}



[data-bc-bp-direction="rightToLeft"] [data-bc-widget-buttons] {
  display: flex !important;
}

[data-bc-widget-buttons] svg {
  top: 0 !important;
}

[data-bc-widget-buttons] span:hover {
  cursor: pointer;
  /* background-color: #c5c5c5 !important; */
}

/* [data-bc-widget-buttons] span:hover path {
  fill: #fff !important;
} */

[data-bc-bp-direction="rightToLeft"] [data-bc-widget-buttons] {
  border-right: 0.5px solid #E8E8E8;
}
[data-sys-button-dropdown] ul{
  background-color: var(--white);
  border-radius: 4px ;
  display: none;
  position: absolute;
  color: var(--listItem);
  font-weight: normal;
  z-index: 9999;
  top: 41px;
  width: 140px;
  left: -5px;
  border-bottom: 3px solid #E6EDF3;
  padding: 4px;

}
[data-sys-button-dropdown] ul li{
  height: 32px;
  margin-top: 4px;
  display: flex;align-items: center;
  justify-content: end;
  padding: 8px;
}
[data-sys-button-dropdown] ul li:hover{
  background-color: #E6EDF3;
  border-radius: 4px;
}
[data-sys-button-dropdown] ul li:hover .bs-icons-material{
  color: var(--dark_blue);
}
[data-sys-button-dropdown]:hover ul{
  display: block;
}
[data-bc-bp-submenu] [data-bc-menu-active] a{
  border-right:4px solid #004B85 !important;
}




