<div data-bc-bp-logout-wrapper="" data-bc-bp-d1-logout-wrapper="">
    <span data-bc-bp-logout-title="" data-bc-bp-d1-logout-title="" data-sys-text-delete="">@logoutTitle</span><svg width="14" height="12" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path data-sys-text-delete="" d="M11.6667 3.11111L10.57 4.20778L12.5767 6.22222H4.66667V7.77778H12.5767L10.57 9.78444L11.6667 10.8889L15.5556 7L11.6667 3.11111ZM1.55556 1.55556H7.77778V0H1.55556C0.7 0 0 0.7 0 1.55556V12.4444C0 13.3 0.7 14 1.55556 14H7.77778V12.4444H1.55556V1.55556Z" fill="#004B85" /></svg>
</div>
<div data-bc-bp-logout-modal="" data-bc-bp-d1-logout-modal="" data-status="close">
    <div data-bc-bp-logout-modal-background="" data-bc-bp-d1-logout-modal-background="" data-bc-bp-logout-modal-closed=""></div>
    <div data-bc-bp-logout-modal-content="" data-bc-bp-d1-logout-modal-content="" data-sys-popup-body="">
        <div data-bc-bp-logout-modal-body="" data-bc-bp-d1-logout-modal-body="">
            <div data-bc-bp-logout-modal-body-text="" data-sys-text="">
                @logoutMessage
            </div>
        </div>
        <div data-bc-bp-logout-modal-footer="" data-bc-bp-d1-logout-modal-footer="">
            <div data-bc-bp-logout-modal-buttons="" data-bc-bp-d1-logout-modal-buttons="">
                <button type="button" data-bc-bp-logout-modal-button="" data-bc-bp-d1-logout-modal-button="remove" data-bc-logout-btn="" data-sys-button-delete="">
                    @logoutBtn
                </button><button type="button" data-bc-bp-logout-modal-button="" data-bc-bp-d1-logout-modal-button="cancel" data-bc-bp-logout-modal-closed="" data-sys-cancel-btn="">
                    @cancelBtn
                </button>
            </div>
        </div>
    </div>
</div>