<div data-bc-bp-logout-wrapper="" data-bc-bp-d1-logout-wrapper="">
    <span data-bc-bp-logout-title="" data-bc-bp-d1-logout-title="" data-sys-text-delete="">@logoutTitle</span>
    <span class="exit-red-background bs-icons-no-margin"></span>
</div>
<div data-bc-bp-logout-modal="" data-bc-bp-d1-logout-modal="" data-status="close">
    <div data-bc-bp-logout-modal-background="" data-bc-bp-d1-logout-modal-background="" data-bc-bp-logout-modal-closed=""></div>
    <div data-bc-bp-logout-modal-content="" data-bc-bp-d1-logout-modal-content="" data-sys-popup-body="">
        <div data-bc-bp-logout-modal-body="" data-bc-bp-d1-logout-modal-body="">
            <div data-bc-bp-logout-modal-body-text="" data-sys-text="">
                @logoutMessage
            </div>
        </div>
        <div data-bc-bp-logout-modal-footer="" data-bc-bp-d1-logout-modal-footer="">
            <div data-bc-bp-logout-modal-buttons="" data-bc-bp-d1-logout-modal-buttons="">
                <button type="button" data-bc-bp-logout-modal-button="" data-bc-bp-d1-logout-modal-button="remove" data-bc-logout-btn="" data-sys-button-delete="">
                    @logoutBtn
                </button><button type="button" data-bc-bp-logout-modal-button="" data-bc-bp-d1-logout-modal-button="cancel" data-bc-bp-logout-modal-closed="" data-sys-cancel-btn="">
                    @cancelBtn
                </button>
            </div>
        </div>
    </div>
</div>