[data-bc-bp-logout-container] {
    float: right;
	width: 32px;
    height: 32px;
    background-color: #E4E7F4;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    margin-right: 15px;
}
[data-bc-bp-logout-container]:hover{
    box-shadow: 0px 5px 10px rgba(0, 75, 133, 0.1);
    cursor: pointer;
}
[data-bc-bp-logout-container] {
    cursor: pointer;
}
[data-bc-bp-logout-main-wrapper]{
    height: 14px;
}

[data-bc-bp-logout-main-wrapper] [data-bc-logout-icon] {
    vertical-align: middle;
	cursor: pointer;
	font-style: normal;
	font-size: 15px;
}

[data-bc-bp-logout-main-wrapper] [data-bc-logout-icon] * {
    color: #2b2b2b;
    fill: #2b2b2b;
}