[data-bc-bp-logout-container] {
    float: right;
	width: 40px;
    text-align: center;
}

[data-bc-bp-logout-main-wrapper] {
    padding: 5px 10px;
	line-height: 45px;
}

[data-bc-bp-logout-main-wrapper] [data-bc-logout-icon] {
    vertical-align: middle;
	cursor: pointer;
	font-style: normal;
	font-size: 15px;
}

[data-bc-bp-logout-main-wrapper] [data-bc-logout-icon] * {
    color: #2b2b2b;
    fill: #2b2b2b;
}