
<div data-bc-page-header>
    <i data-bc-page-widget-dlg-btn-add class="icon-settings"></i>
</div>

<div data-bc-page-widget-dlg data-bc-display-none>
    <span data-bc-page-widget-dlg-btn-close></span>
    <div data-bc-page-widget-list>
        <div data-bc-page-widget-setting>
            <div data-bc-page-widget-save-setting >ذخیره</div>
        </div>
        <div  data-bc-page-widget-disableList >
            
        </div>
    </div>
    
</div>
<div clear=""></div>
<div data-bc-dashboard-widgets>

    <basis core="print" run="atclient" datamembername="db.dashboard_inactive_widget" >
        <layout>
            <script type="text/template">
                <div data-bc-page-dashboard-disablelist="">
                    @child
                </div>
            </script>
        </layout>
        <face>
            <script type="text/template">
            
                <div>@title@</div>
            
            </script>
        </face>
    </basis>

</div>
<div data-bc-page-body data-bc-page-body-dashboard ></div>