[data-bc-page-dashboard-disablelist] {
    display: flex;
    z-index: 1;
	margin: 15px 10px;
	background: #fff;
	padding: 10px;
	border-radius: 5px;
	border : 1px solid var(--light_gray);
    direction: rtl;
    
}

[data-bc-page-dashboard-disablelist] div {
    padding: 5px 10px;
    border: 1px solid #eee;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 15px;
    z-index: 99;
}
[clear]{
	clear: both;
}