<basis core="group" run="atclient">
  <basis core="component.basispanel.message" run="atclient"></basis>

  <div
    data-bc-bp-main-header=""
    data-bc-bp-d1-main-header=""
    data-sys-header=""
  >
    <!-- <div data-bc-bp-header-left-items="" data-bc-bp-d1-header-left-items="">
      <basis core="component.basispanel.cart" run="atclient"></basis>
    </div> -->
    <div data-bc-bp-logo="" data-bc-bp-d1-logo="">
      <a href="" data-sys-header-logo=""></a>
    </div>
    <basis core="component.basispanel.profile" run="atclient"></basis>
    <div data-bc-bp-header-items="" data-bc-bp-d1-header-items="">
      <basis core="component.basispanel.notification" run="atclient"></basis>
      <basis core="component.basispanel.scheduler" run="atclient"></basis>
    </div>
    <div data-bc-bp-corporate-business-wrapper="" >
    <basis core="component.basispanel.corporate" run="atclient"></basis>
    <basis core="component.basispanel.business" run="atclient"></basis>
  </div>
    <basis core="component.basispanel.theme" run="atclient"></basis>
    <div class="clr"></div>
  </div>
  <basis core="component.basispanel.menu" run="atclient"></basis>
  <basis core="component.basispanel.workspace" run="atclient"></basis>
  <basis core="component.basispanel.footer" run="atclient"></basis>
</basis>
