<basis core="group" run="atclient">
    <div data-bc-bp-main-header="" data-bc-bp-d2-main-header="" data-sys-header="">
        <div data-bc-bp-d2-header-top="" data-sys-border-color="">
            <div data-bc-bp-logo="" data-bc-bp-d2-logo=""><a href="" data-sys-header-logo=""></a></div>
            <div data-bc-bp-header-items="" data-bc-bp-d2-header-items="">
                <basis core="component.basispanel.notification" run="atclient"></basis>
                <basis core="component.basispanel.scheduler" run="atclient"></basis>
            </div>
            <div class="clr"></div>
        </div>
        <div class="clr"></div>
        <div data-bc-bp-d2-header-middle="" data-sys-border-color="">
            <basis core="component.basispanel.profile" run="atclient"></basis>
            <basis core="component.basispanel.corporate" run="atclient"></basis>
            <basis core="component.basispanel.business" run="atclient"></basis>
            <div class="clr"></div>
        </div>
        <div class="clr"></div>
        <div data-bc-bp-d2-header-bottom="" data-sys-border-color="">
            <basis core="component.basispanel.menu" run="atclient"></basis>
            <!-- <basis core="component.basispanel.theme" run="atclient"></basis> -->
            <div class="clr"></div>
        </div>
        <div class="clr"></div>
    </div>
    <basis core="component.basispanel.workspace" run="atclient"></basis>
    <!-- <basis core="component.basispanel.footer" run="atclient"></basis> -->
</basis>