<basis core="group" run="atclient">
  <div data-bc-bp-header>
    <basis core="component.basispanel.accounting" run="atclient"></basis>
    <basis core="component.basispanel.corporate" run="atclient"></basis>
    <basis core="component.basispanel.business" run="atclient"></basis>
  </div>
  <basis core="component.basispanel.menu" run="atclient"></basis>
  <basis core="component.basispanel.workspace" run="atclient"></basis>
  <basis core="component.basispanel.footer" run="atclient"></basis>
  <!-- <button bc-triggers="click" bc-name="demo.data" bc-value="in the name of god">
    click me
  </button> -->
  <basis
    core="callback"
    run="atclient"
    triggers="demo.data basispanel.userInfo"
  ></basis>
</basis>
