<basis core="group" run="atclient">
<div id="body">
  <div class="header_wrapper">
    <div class="header">
      <basis core="component.basispanel.accounting" run="atclient"></basis>
      <basis core="component.basispanel.corporate" run="atclient"></basis>
      <basis core="component.basispanel.business" run="atclient"></basis>
      <div class="logo">
        <a href="/"><img src="assets/img/basispanel_logo.png" alt="" /></a>
      </div>
    </div>
    <div class="clr"></div>
    <basis core="component.basispanel.menu" run="atclient"></basis> 
  <basis core="component.basispanel.workspace" run="atclient"></basis>
</div>
<div class="clr"></div>
<basis core="component.basispanel.footer" run="atclient"></basis>
</basis>