[data-bc-display-none] {
  display: none;
}

/*  */
[data-bc-bp-main-header] {
  background-color: #fff;
  padding: 20px;
  position: relative;
}

[data-bc-bp-logo] {
  float: left;
  margin-top: 5px;
}

[data-bc-bp-logo] a {
  display: block;
  width: 140px;
  height: 32px;
  background-image: url('basispanel_light.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

[data-bc-bp-header-items]{
  float: right;
  height: 35px;
  padding-left: 15px;
  border-left: 0.5px solid #D0D0D0;
}
[data-bc-bp-main-container]{
  position: relative;
}