[data-bc-display-none] {
  display: none;
}

/*  */
[data-bc-bp-main-header] {
  background-color: #fff;
  padding: 20px;
}

[data-bc-bp-logo] {
  float: left;
  margin-top: 10px;
}
[data-bc-bp-header-items]{
  float: right;
  height: 35px;
  padding-left: 15px;
  border-left: 0.5px solid #D0D0D0;
}