<div data-bc-notification-tab-content="" data-bc-notification-tab-content-id="@name">

    <basis core="dbsource" source="simple" name="notification" rkey="@rkey" type="{##notification.websocket.type|()##}" usedforid="{##notification.websocket.usedforid|()##}" run="atclient" triggers="notification.websocket">
        <member name="@memberName" />
    </basis>

    <basis core="callback" run="atclient" triggers="notification.@memberName" method="notificationLoad"></basis>

    <div data-bc-notification-tab-list="">
        <basis core="print" datamembername="notification.@memberName_sortAndLimit" run="atclient">
            <layout>
                @child
            </layout>
            <face>
                <script type="text/template">
                    <div data-bc-notification-items="" data-bc-notification-id="@id@" data-bc-notification-items-new="">
                        <!-- <svg width="20" height="20" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.75 9.75H8.25V11.25H6.75V9.75ZM6.75 3.75H8.25V8.25H6.75V3.75ZM7.4925 0C3.3525 0 0 3.36 0 7.5C0 11.64 3.3525 15 7.4925 15C11.64 15 15 11.64 15 7.5C15 3.36 11.64 0 7.4925 0ZM7.5 13.5C4.185 13.5 1.5 10.815 1.5 7.5C1.5 4.185 4.185 1.5 7.5 1.5C10.815 1.5 13.5 4.185 13.5 7.5C13.5 10.815 10.815 13.5 7.5 13.5Z" fill="#004B85"/>
                        </svg> -->
                        <div data-bc-notification-title=""> @subject@ </div>
                        <!-- <div data-bc-notification-date=""> @rownumber@ </div> -->
                        <div data-bc-notification-info="">
                            <div data-bc-notification-type=""> @message@ </div>
                            <!-- <div data-bc-notification-owner=""> فرستنده : @title@ </div> -->
                            <!-- <div data-bc-notification-category=""> گروه : @age@ </div> -->
                        </div>
                    </div>
                </script>
            </face>
            <else-layout>
                <div data-bc-notification-noNotify="" data-bc-d1-notification-noNotify="">
                    در انتظار نوتیفیکیشن جدید
                </div>
            </else-layout>
        </basis>
    </div>
    <div data-bc-notification-buttons-container="" data-bc-d1-notification-buttons-container="" style="display: none;">
        <div data-bc-notification-buttons="" data-bc-d1-notification-buttons="">
            <button data-bc-notification-button="" data-bc-d1-notification-button="" data-bc-notification-view-button="" data-sys-button=""> مشاهده همه </button>
            <button data-bc-notification-button="" data-bc-d1-notification-button="" data-bc-notification-read-button="" data-sys-button=""> خواندن همه </button>
        </div>
    </div>

    <script type="text/javascript">
        function notificationLoad(args) {
            const notificationLength = args.source?.rows.length;
            document.querySelector("[data-bc-notification-alarm]").textContent = notificationLength;
            const notificationReadButton = document.querySelector("[data-bc-notification-buttons-container]");
            if (notificationLength > 0) {
                notificationReadButton.style.display = "block";
            } else {
                notificationReadButton.style.display = "none";
            }

            // sort rows
            const items = args.source?.rows;
            const itemsDesc = items.sort(function compare(a, b) {
                var dateA = new Date(a.receiveDate);
                var dateB = new Date(b.receiveDate);
                return dateB - dateA;
            });
            let newItems = itemsDesc

            if (itemsDesc.length > 10) {
                newItems = itemsDesc.slice(0, 10);
            }
            $bc.setSource("notification.@memberName_sortAndLimit", newItems);
            $bc.setSource("notification.@memberName_sort", itemsDesc);
        };
    </script>
</div>