<div data-bc-notification="" data-bc-d1-notification="">
    <div data-bc-notification-alert="" data-bc-d1-notification-alert="">
    
        <span class="bell-blue-icon-background bs-icons-no-margin"></span>
        <span data-bc-notification-alarm="" data-bc-d1-notification-alarm="">
            0
        </span>
    </div>
    <div data-bc-notification-dropdown-wrapper="" data-bc-d1-notification-dropdown-wrapper="">
        <div data-bc-notification-dropdown="" data-bc-d1-notification-dropdown="">
            <section data-bc-notification-wrapper="" data-bc-d1-notification-wrapper="">
                <div data-bc-notification-tabs="" data-bc-d1-notification-tabs="">
                    <!-- insert buttons -->
                </div>
                <div data-bc-notification-contents="" data-bc-d1-notification-contents="">
                    <!-- insert contents -->
                </div>
            </section>
        </div>
    </div>
</div>