<div data-bc-notification="">
    <div data-bc-notification-alert="">
        <svg data-bc-notification-icon="" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell">
            <path d="M22 17H2a3 3 0 0 0 3-3V9a7 7 0 0 1 14 0v5a3 3 0 0 0 3 3zm-8.27 4a2 2 0 0 1-3.46 0"></path>
        </svg>
        <span data-bc-notification-alarm="" style="display: none;"></span>
    </div>
    <div data-bc-notification-dropdown="">
        <section data-bc-notification-wrapper="">
            <div data-bc-notification-tabs="">
                <!-- insert buttons -->
            </div>
            <div data-bc-notification-contents="">
                <!-- insert contents -->
            </div>
        </section>
    </div>
</div>