<div data-bc-notification="" data-bc-d2-notification="">
    <div data-bc-notification-alert="" data-bc-d2-notification-alert="">
        <svg data-bc-d2-notification-icon="" width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.66327 19.1105C6.55331 20.2306 7.95152 20.9524 9.52382 20.9524C11.0961 20.9524 12.4943 20.2306 13.3844 19.1105C10.8216 19.4543 8.226 19.4543 5.66327 19.1105Z" fill="#767676"/>
            <path d="M16.6657 7.33333V8.07096C16.6657 8.95619 16.9209 9.82161 17.3992 10.5582L18.571 12.3631C19.6415 14.0118 18.8243 16.2527 16.9626 16.774C12.0923 18.1379 6.95528 18.1379 2.08504 16.774C0.22333 16.2527 -0.593838 14.0118 0.47657 12.3631L1.64846 10.5582C2.12668 9.82161 2.38187 8.95619 2.38187 8.07096V7.33333C2.38187 3.28324 5.57943 0 9.52381 0C13.4682 0 16.6657 3.28324 16.6657 7.33333Z" fill="#767676"/>
        </svg>
        <span data-bc-notification-alarm="" data-bc-d2-notification-alarm="">
            0
        </span>
    </div>
    <div data-bc-notification-dropdown-wrapper="" data-bc-d2-notification-dropdown-wrapper="">
        <div data-bc-notification-dropdown="" data-bc-d2-notification-dropdown="">
            <div data-bc-notification-dropdown-closed="" data-bc-d2-notification-dropdown-closed="">
                <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <line x1="1.6857" y1="1" x2="13.6916" y2="13.0059" stroke="#004B85" stroke-width="2" stroke-linecap="round"/>
                    <line x1="1" y1="13.0057" x2="13.0059" y2="0.999848" stroke="#004B85" stroke-width="2" stroke-linecap="round"/>
                </svg>
            </div>
            <section data-bc-notification-wrapper="" data-bc-d2-notification-wrapper="">
                <div data-bc-notification-tabs="" data-bc-d2-notification-tabs="">
                    <!-- insert buttons -->
                </div>
                <div data-bc-notification-contents="" data-bc-d2-notification-contents="">
                    <!-- insert contents -->
                </div>
            </section>
        </div>
    </div>
</div>