[data-bc-bp-notification-container="d1"] {
    /* float: right; */
    width: 32px;
    height: 32px;
    /* background-color: #E4E7F4; */
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-right: 15px; */
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

[data-bc-bp-direction="rightToLeft"] [data-bc-bp-notification-container="d1"] {
    float: right;
    margin-right: 15px;
}

[data-bc-bp-direction="leftToRight"] [data-bc-bp-notification-container="d1"] {
    float: right;
    margin-right: 15px;
}

[data-bc-d1-notification] [data-bc-d1-notification-alert] {
    height: 14px;
}

[data-bc-d1-notification] [data-bc-d1-notification-icon] {
    vertical-align: middle;
    width: 18px;
    height: 18px;
    overflow: hidden;
    /* -webkit-animation: tada 1.5s ease infinite;
    animation: tada 1.5s ease infinite; */
    /* -webkit-animation: ring 6s linear infinite;
    animation: ring 6s linear infinite; */
}

[data-bc-d1-notification] [data-bc-d1-notification-icon] * {
    color: #2b2b2b;
}

[data-bc-d1-notification] [data-bc-d1-notification-alarm] {
    position: absolute;
    /* right: -4px; */
    top: -4px;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    content: '';
    background-color: #EB5757;
    letter-spacing: 0.9px;
    font-size: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

[data-bc-bp-direction="rightToLeft"] [data-bc-d1-notification] [data-bc-d1-notification-alarm] {
    right: -4px;
}

[data-bc-bp-direction="leftToRight"] [data-bc-d1-notification] [data-bc-d1-notification-alarm] {
    right: -4px;
}

/* ********** notification dropdown ********** */
[data-bc-d1-notification] [data-bc-d1-notification-dropdown] {
    -webkit-box-shadow: 0px 5px 10px rgba(0, 75, 133, 0.1);
    box-shadow: 0px 5px 10px rgba(0, 75, 133, 0.1);
    /* width: 300px; */
    background-color: #fff;
    border: 1px solid #f5f7fb;
    -webkit-transition: all linear 0.3s;
    transition: all linear 0.3s;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 5px;
}

[data-bc-d1-notification-dropdown-wrapper] {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 30px;
    /* right: -17px !important; */
    z-index: 999;
    padding-top: 15px;
    height: 0;
    transition: all 0.3s ease-in-out;
}

[data-bc-bp-direction="rightToLeft"] [data-bc-d1-notification-dropdown-wrapper] {
    right: -17px !important;
}

[data-bc-bp-direction="leftToRight"] [data-bc-d1-notification-dropdown-wrapper] {
    right: -17px !important;
}

/* movaghatan baraye faze 1 bardashte shod */
/* [data-bc-bp-notification-container="d1"]:hover [data-bc-d1-notification-dropdown-wrapper] {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    visibility: visible;
    height: auto;
} */


[data-bc-d1-notification] [data-bc-d1-notification-dropdown]::before,
[data-bc-d1-notification] [data-bc-d1-notification-dropdown]::after {
    right: 28px !important;
    left: unset !important;
}

[data-bc-bp-direction="rightToLeft"] [data-bc-d1-notification] [data-bc-d1-notification-dropdown]::before,
[data-bc-bp-direction="rightToLeft"] [data-bc-d1-notification] [data-bc-d1-notification-dropdown]::after {
    right: 28px !important;
    left: unset !important;
}

[data-bc-bp-direction="leftToRight"] [data-bc-d1-notification] [data-bc-d1-notification-dropdown]::before,
[data-bc-bp-direction="leftToRight"] [data-bc-d1-notification] [data-bc-d1-notification-dropdown]::after {
    right: 28px !important;
    left: unset !important;
}