[data-bc-business-list] {
    width: 190px;
    height: 25px;
    background: #f9f9f9;
    padding: 15px;
    float: right;
    margin-right: 15px;
    position: relative;
    /* cursor: pointer; */
    direction: rtl;
    transform-origin: top;
	transform: scaleY(0);
	transition: all 0.3s ease-in-out;
    /* box-sizing: unset; */
}

[data-bc-business-list] [data-bc-business-loading] {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    display: inline-block;
    position: absolute;
    left: 12px;
    top: 10px;
    display: none;
}

[data-bc-business-list] [data-bc-business-icon] {
    animation: spin 2s linear infinite;
    fill: #212121;
    color: #212121;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

[data-bc-business-list] [data-bc-business-select] {
    /* cursor: pointer; */
    margin-top: px;
    position: relative;
}

[data-bc-business-list] [data-bc-business-msg] {
    font-size: 12px;
}

[data-bc-business-list] [data-bc-business-msg][data-bc-business-msg-deactive] {
    color: #bcbcbc;
}

[data-bc-business-list] [data-bc-business-notif-drop-down] {
    position: absolute;
    top: 10px;
    left: -4px;
    padding: 0 5px;
    cursor: pointer;
}

[data-bc-business-list] [data-bc-business-icon-drop-down] {
    /* float: left; */
    /* position: relative; */
    /* top: 15px; */
}

[data-bc-business-list] [data-bc-business-drop-down] {
    position: absolute;
    width: 100%;
    right: 0;
    top: 50px;
    background: #f9f9f9;
    padding-top: 0;
    opacity: 0;
    z-index: -1;
}

[data-bc-business-list] [data-bc-business-drop-down][data-status="open"] {
    opacity: 1;
    z-index: 99;
    visibility: visible;
}

[data-bc-business-list] [data-bc-business-search] {
    padding: 5px 15px;
    border-bottom: 1px dashed #dfdfdf;
    /* padding-top: 10px; */
}

[data-bc-business-list] [data-bc-business-search] input {
    width: calc(100% - 20px);
    height: 30px;
    padding: 0px 10px;
    font-size: 11px;
    color: var(--dark_gray);
    background: var(--vlight_blue);
    border: 1px solid var(--light_blue);
    border-radius: 3px;
    transition: border 0.3s linear 0s;
}

[data-bc-business-list] [data-bc-business-search] input:focus {
    background: var(--papaya);
    border-color: var(--sky_blue);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    outline: 0 none;
}

[data-bc-business-list] [data-bc-business-drop-down] ul {
    scrollbar-width: thin;
    /* scrollbar-color: #eff2f5 transparent; */
    height: auto;
    max-height: 200px;
    overflow: auto;
}

[data-bc-business-list] [data-bc-business-drop-down] li {
    padding: 5px 15px;
    border-bottom: 1px dashed #dfdfdf;
    padding-top: 10px;
    cursor: pointer;
    position: relative;
}

[data-bc-business-list] [data-bc-business-drop-down] li:last-child {
    border-bottom: none;
}

[data-bc-business-list] [data-bc-business-drop-down] li div {
    position: relative;
    display: inline;
}

.autocomplete-active {
    background-color: #eee !important;
}