<div data-bc-bp-menu-wrapper="" data-bc-bp-d2-menu-wrapper="" data-sys-menu="">
    <!-- <button type="button" data-bc-bp-menu-opened="" data-bc-bp-d2-menu-opened="">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </button> -->
    <!-- <div data-bc-bp-menu-overlay="" data-bc-bp-d2-menu-overlay=""></div> -->
    <nav data-bc-bp-menu-navbar="" data-bc-bp-d2-menu-navbar="">
        <!-- <div data-bc-bp-menu-title="" data-bc-bp-d2-menu-title="">
            بیسیس پنل
        </div> -->
        <ul data-bc-menu="" data-bc-d2-menu="" data-sys-menu=""></ul>
    </nav>
</div>