<div data-bc-bp-menu-wrapper="" data-bc-bp-d2-menu-wrapper="">
    <button type="button" class="opened-menu">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </button>
    <div class="overlay"></div>
    <nav class="navbar">
        <button type="button" class="closed-menu">
            <img src="https://www.cssscript.com/demo/responsive-single-level-dropdown-menu/asset/closed.svg" class="closed-icon" alt="closed" />
        </button>
        <div class="clr"></div>
        <ul data-bc-menu="" data-bc-d2-menu="" data-sys-menu=""></ul>
    </nav>
</div>