[data-bc-bp-menu-container="d1"] {
  clear: both;
  background-color: #fff;
}

[data-bc-bp-menu-container="d1"][data-bc-bp-sticky] {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

[data-bc-bp-d1-menu-wrapper] {
  width: 100%;
  background: #fff;
}

[data-bc-bp-d1-menu-container] {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 9;
}

[data-bc-bp-direction="rightToLeft"] [data-bc-bp-menu-wrapper] [data-bc-bp-d1-menu-container]::after {
  content: "";
  position: fixed;
  left: 0;
  height: 60px;
  width: 100px;
  z-index: 1000;
  box-shadow: 160px 0px 13px -73px rgba(255, 255, 255, 0.77) inset;
}

[data-bc-bp-direction="leftToRight"] [data-bc-bp-menu-wrapper] [data-bc-bp-d1-menu-container]::after {
  content: "";
  position: fixed;
  right: 0;
  width: 100px;
  height: 60px;
  z-index: 1000;
  box-shadow: -160px 0px 13px -73px rgba(255, 255, 255, 0.77) inset;
}

[data-bc-bp-d1-menu-wrapper] [data-bc-bp-d1-menu-toolbox-wrapper] {
  display: none;
  margin-left: 10px;
  position: relative;
}

[data-bc-bp-d1-menu-wrapper] [data-bc-bp-d1-menu-toolbox-wrapper][data-bc-have-menu-toolbox="true"] {
  display: inline-block;
}

[data-bc-bp-d1-menu-toolbox-wrapper] [data-bc-bp-d1-menu-toolbox-button] {
  width: 28px;
  height: 28px;
  line-height: 27px;
  border-radius: 4px;
  background-color: #e6edf3;
  text-align: center;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  /* padding: 5px; */
}

[data-bc-bp-d1-menu-toolbox-wrapper] [data-bc-bp-d1-menu-toolbox-button]:hover {
  background: #CCDBE7;
}

[data-bc-bp-d1-menu-toolbox-wrapper] [data-bc-bp-d1-menu-toolbox-button] svg {
  vertical-align: middle;
  width: 12px;
}

[data-bc-bp-d1-menu-toolbox-wrapper] [data-bc-bp-d1-menu-toolbox-items] {
  width: 194px;
  min-height: 105px;
  padding: 16px 16px 0 16px;
  position: absolute;
  /* right: 0; */
  top: 45px;
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  border-bottom: 4px solid #e6edf3;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  z-index: 9999;
  transition: all 0.1s ease-in-out;
  display: none;
}

[data-bc-bp-direction="rightToLeft"] [data-bc-bp-d1-menu-toolbox-wrapper] [data-bc-bp-d1-menu-toolbox-items] {
  right: 0;
}

[data-bc-bp-direction="leftToRight"] [data-bc-bp-d1-menu-toolbox-wrapper] [data-bc-bp-d1-menu-toolbox-items] {
  left: 0;
}

[data-bc-bp-d1-menu-toolbox-wrapper][data-bc-bp-menu-toolbox="active"] [data-bc-bp-d1-menu-toolbox-items] {
  display: block;
}

[data-bc-bp-d1-menu-toolbox-wrapper] [data-bc-bp-d1-menu-toolbox-item] {
  width: 73px;
  height: 73px;
  border-radius: 4px;
  background-color: #e6edf3;
  display: inline-block;
  margin-bottom: 16px;
  /* margin-left: 16px; */
  padding: 10px 0;
  cursor: pointer;
}

[data-bc-bp-direction="rightToLeft"] [data-bc-bp-d1-menu-toolbox-wrapper] [data-bc-bp-d1-menu-toolbox-item] {
  margin-left: 16px;
}

[data-bc-bp-direction="leftToRight"] [data-bc-bp-d1-menu-toolbox-wrapper] [data-bc-bp-d1-menu-toolbox-item] {
  margin-right: 16px;
}

[data-bc-bp-d1-menu-toolbox-wrapper] [data-bc-bp-d1-menu-toolbox-item]:nth-child(2n) {
  /* margin-left: 0; */
}

[data-bc-bp-direction="rightToLeft"] [data-bc-bp-d1-menu-toolbox-wrapper] [data-bc-bp-d1-menu-toolbox-item]:nth-child(2n) {
  margin-left: 0;
}

[data-bc-bp-direction="leftToRight"] [data-bc-bp-d1-menu-toolbox-wrapper] [data-bc-bp-d1-menu-toolbox-item]:nth-child(2n) {
  margin-right: 0;
}

[data-bc-bp-d1-menu-toolbox-wrapper] [data-bc-bp-d1-menu-toolbox-item]:hover {
  background: #CCDBE7;
}

[data-bc-bp-d1-menu-toolbox-wrapper] [data-bc-bp-d1-menu-toolbox-item-icon] {
  text-align: center;
  height: 35px;
  line-height: 35px;
}

[data-bc-bp-d1-menu-toolbox-wrapper] [data-bc-bp-d1-menu-toolbox-item-text] {
  text-align: center;
  color: #004B85;
  font-size: 12px;
  font-weight: bold;
}

/* [data-bc-bp-direction="rightToLeft"] [data-bc-bp-menu-wrapper] [data-bc-d1-menu]::after {
  content: "";
  position: fixed;
  left: 0;
  height: 60px;
  width: 220px;
  z-index: 1000;
  box-shadow: 160px 0px 13px -73px rgba(255, 255, 255, 0.77) inset;
}

[data-bc-bp-direction="leftToRight"] [data-bc-bp-menu-wrapper] [data-bc-d1-menu]::after {
  content: "";
  position: fixed;
  right: 0;
  width: 220px;
  height: 60px;
  z-index: 1000;
  box-shadow: -160px 0px 13px -73px rgba(255, 255, 255, 0.77) inset;
} */

[data-bc-d1-menu] {
  display: inline-flex;
  align-items: stretch;
  padding-inline-end: 100px;
  position: relative;
  z-index: 9;
  scrollbar-width: thin;
  overflow-y: hidden;
  overflow-x: auto;
  direction: rtl;
  border-top: 0.5px solid #e1e1e1;
  min-height: 62px;
}

[data-bc-bp-direction="rightToLeft"] [data-bc-d1-menu] {
  direction: rtl;
  /* margin-right:20px; */
}

[data-bc-bp-direction="leftToRight"] [data-bc-d1-menu] {
  direction: ltr;
  /* margin-left:20px; */
}

[data-bc-d1-menu] li {
  position: relative;
  line-height: 60px;
  /* border-bottom: 0.7px solid #fff; */
}

[data-bc-d1-menu]>li {
  height: 62px;
}

[data-bc-d1-menu] [data-bc-level] {
  transition: all 0.3s ease-in-out;
}

[data-bc-d1-menu] li:hover>[data-bc-level] {
  color: #004b85;
  /* background-color: rgba(0, 75, 133, 0.1); */
}




[data-bc-d1-menu] [data-bc-menu-active]>a {
  color: #004b85;
}

[data-bc-d1-menu]>ul>li:hover a,
[data-bc-d1-menu]>li:hover>a {
  color: #004b85;
}

[data-bc-d1-menu] [data-bc-bp-menu-external-single-node] {
  height: 100%;
}

[data-bc-d1-menu] li a {
  padding: 0 20px;
  white-space: nowrap;
  cursor: pointer;
  height: 100%;
  display: inline-block;
}

[data-bc-bp-d1-menu-wrapper=""] {
  /* border-top: 0.5px solid #e1e1e1; */
  background-color: var(--white);
}

[data-bc-bp-direction="rightToLeft"] [data-bc-bp-d1-menu-wrapper=""] {
  padding-right:20px;
}

[data-bc-bp-direction="leftToRight"] [data-bc-bp-d1-menu-wrapper=""] {
  padding-left:20px;
}

[data-bc-bp-submenu] {
  padding: 0;
  position: absolute;
  z-index: 999;
  top: 61px;
  width: 230px;
  max-height: 0px;
  background: #fff;
  overflow: hidden;
  transform-origin: top;
  transition: top 0.001s, left 0.001s, max-height 0.2s ease-in-out;
  box-shadow: 0px 5px 10px rgba(0, 75, 133, 0.1);
}

/* [data-bc-bp-direction="rightToLeft"] [data-bc-bp-submenu] {
  right: 0;
}

[data-bc-bp-direction="leftToRight"][data-bc-bp-submenu] {
  left: 0;
} */
[data-bc-bp-submenu][data-bc-ul-level-open="1"] {
  z-index: 9999;
  transition: top 0.001s, left 0.001s, max-height 0.3s ease-in-out;

}

[data-bc-bp-menu-wrapper] [data-bc-bp-submenu] li {
  border-bottom: 0.7px solid #d0d0d0 !important;
}

[data-bc-bp-submenu] li:last-child {
  border-bottom: none !important;
}

[data-bc-bp-submenu] li :hover {
  /* border-left: 0.7px solid #004B85; */
  color: #004b85 !important;
}

/* [data-bc-d1-menu] [data-bc-bp-menu-external-title] ul li ul li:hover {
	border-left: 0.7px solid #004B85;
} */

[data-bc-bp-direction="rightToLeft"] [data-bc-bp-menu-wrapper] [data-bc-bp-submenu] li>a {
  border-right: 4px solid #d0d0d0;
}

[data-bc-bp-direction="leftToRight"] [data-bc-bp-menu-wrapper] [data-bc-bp-submenu] li>a {
  border-left: 4px solid #d0d0d0;
}

[data-bc-bp-submenu] li :hover>a {
  color: #004b85;
}

[data-bc-bp-menu-wrapper] [data-bc-bp-submenu] li a {
  width: 100%;
  display: inline-block;
  position: relative;
  display: inherit !important;
  padding: 5px 10px;
  cursor: pointer;
  line-height: 24px;
  box-sizing: border-box;
  /* border-right: 4px solid #D0D0D0; */
}

[data-bc-d1-menu] li ul li:last-child a {
  border-bottom: none;
}

[data-bc-d1-menu] [data-bc-bp-menu-external] {
  width: 0;
  height: 62px;
  overflow: hidden;
  vertical-align: top;
  position: relative;
  z-index: 9;
  background-color: #fff;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}

[data-bc-d1-menu] [data-bc-bp-menu-external]>li {
  padding: 0;
  height: 100%;
  float: right;
  background-color: rgba(244, 244, 244, 0.5);
}

[data-bc-d1-menu] [data-bc-bp-menu-external] li a {
  border-bottom: 0;
  height: 100%;
  line-height: 50px !important;
}

[data-bc-d1-menu] [data-bc-bp-menu-external] li ul li a {
  line-height: 24px !important;
}

[data-bc-d1-menu] [data-bc-level-node]:after {
  font-family: "LineIcons";
  content: "\ea58";
  position: relative;
  /* right: 5px; */
  font-size: 10px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}

[data-bc-bp-direction="rightToLeft"] [data-bc-d1-menu] [data-bc-level-node]:after {
  right: 5px;
}

[data-bc-bp-direction="leftToRight"] [data-bc-d1-menu] [data-bc-level-node]:after {
  left: 5px;
}

/* [data-bc-d1-menu] [data-bc-level-open]:after {
	transform: rotate(-90deg)
} */

/* [data-bc-d1-menu] [data-bc-bp-menu-external-open]:after {
	transform: rotate(180deg)
} */

[data-bc-d1-menu] [data-bc-bp-menu-external-level]:after {
  font-family: "LineIcons";
  content: "\ea58";
  position: relative;
  /* right: 5px; */
  font-size: 10px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}

[data-bc-bp-direction="rightToLeft"] [data-bc-d1-menu] [data-bc-bp-menu-external-level]:after {
  right: 5px;
}

[data-bc-bp-direction="leftToRight"] [data-bc-d1-menu] [data-bc-bp-menu-external-level]:after {
  left: 5px;
}

[data-bc-d1-menu] [data-bc-bp-menu-external-single-node] li {
  height: 100%;
  line-height: 50px;
}

[data-bc-d1-menu] [data-bc-bp-menu-external-single-node] li a {
  /* border: none; */
  /* border-left: 1px solid rgba(255, 255, 255, 0.13); */
  padding: 0 15px;
  /* position: relative; */
  /* top: 16px; */
}

[data-bc-d1-menu] [data-bc-bp-menu-external-single-node]>li>a {
  line-height: 60px;
}

[data-bc-d1-menu] [data-bc-bp-menu-external-single-node] ul li a {
  padding: 5px 15px !important;
  top: 0 !important;
}

[data-bc-d1-menu] [data-bc-bp-menu-external-title] {
  background: #f4f4f4;
  /* border-bottom: 1px solid #F4F4F4 !important; */
}

[data-bc-bp-direction="rightToLeft"] [data-bc-corporate-buy] {
  background: #e4e7f4;
  width: 140px;
  height: 34px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #004b85;
  cursor: pointer;
  margin-right: 15px;
  direction: ltr;
}

[data-bc-bp-direction="rightToLeft"] [data-bc-corporate-buy] a {
  display: flex;
  align-items: center;
}

[data-bc-bp-direction="rightToLeft"] [data-bc-corporate-buy] svg {
  margin-left: 15px;
}

[data-bc-bp-direction="leftToRight"] [data-bc-corporate-buy] {
  background: #e4e7f4;
  width: 160px;
  height: 34px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #004b85;
  cursor: pointer;
  margin-right: 15px;
  direction: ltr;
}

[data-bc-bp-direction="leftToRight"] [data-bc-corporate-buy] a {
  display: flex;
  align-items: center;
}

[data-bc-bp-direction="leftToRight"] [data-bc-corporate-buy] svg {
  margin-left: 15px;
}