[data-bc-bp-menu-container] {
	clear: both;
}

[data-bc-bp-menu-container][data-bc-bp-sticky] {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;
}

[data-bc-bp-menu-wrapper] {
	width: 100%;
	background: #fff;
}

[data-bc-menu] {
	display: flex;
	align-items: stretch;
	position: relative;
	z-index: 9;
	direction: rtl;
	border-top: 0.5px solid #e1e1e1;
	border-bottom: 0.5px solid #e1e1e1;
	min-height: 62px;
}

[data-bc-menu] li {
	position: relative;
	line-height: 60px;
	/* border-bottom: 0.7px solid #fff; */
}

[data-bc-menu] > li {
	height: 62px;
}

[data-bc-level] {
	transition: all 0.3s ease-in-out;
}

[data-bc-menu] li:hover > [data-bc-level] {
	color: #004B85;
	/* background-color: rgba(0, 75, 133, 0.1); */
}

[data-bc-menu]>li:hover>a,
[data-bc-menu] [data-bc-bp-menu-external]>li:hover>a,
[data-bc-menu] [data-bc-bp-menu-external-single-node]>li:hover>a {
	border-bottom: 0.7px solid #004B85;
}

[data-bc-menu-active] {
	border-bottom: 0.7px solid #004B85 !important;
}

[data-bc-menu-active]>a {
	color: #004B85;
}

[data-bc-menu]>ul>li:hover a,
[data-bc-menu]>li:hover>a {
	color: #004B85;
}

[data-bc-bp-menu-external-single-node] {
	height: 100%;
}

[data-bc-menu] li a {
	padding: 0 15px;
	cursor: pointer;
	height: 100%;
	display: inline-block;
}

[data-bc-bp-menu-wrapper=""] {
	/* border-top: 0.5px solid #e1e1e1; */
	background-color: var(--white);
}

[data-bc-bp-submenu] {
	padding: 0;
	position: absolute;
	z-index: 9999;
	right: 0;
	top: 61px;
	width: 230px;
	height: auto;
	background: #fff;
	overflow: hidden;
	transform-origin: top;
	transform: scaleY(0);
	transition: all 0.3s ease-in-out;
	box-shadow: 0px 5px 10px rgba(0, 75, 133, 0.1);
}

[data-bc-bp-submenu] li {
	border-bottom: 0.7px solid #D0D0D0 !important;
}

[data-bc-bp-submenu] li:last-child {
	border-bottom: none !important;
}

[data-bc-bp-submenu] li :hover {
	/* border-left: 0.7px solid #004B85; */
	color: #004B85 !important;
}

/* [data-bc-bp-menu-external-title] ul li ul li:hover {
	border-left: 0.7px solid #004B85;
} */

[data-bc-bp-submenu] li > a {
	border-right: 4px solid #D0D0D0;
}

[data-bc-bp-submenu] li :hover>a {
	color: #004B85;
}

[data-bc-menu] li ul li a {
	width: 100%;
	display: inline-block;
	position: relative;
	display: inherit !important;
	padding: 5px 10px;
	line-height: 24px;
	box-sizing: border-box;
	/* border-right: 4px solid #D0D0D0; */
}

[data-bc-menu] li ul li:last-child a {
	border-bottom: none;
}

[data-bc-bp-menu-external] {
	width: 0;
	height: 62px;
	overflow: hidden;
	vertical-align: top;
	position: relative;
	z-index: 9;
	background-color: #fff;
	display: inline-block;
	transition: all 0.3s ease-in-out;
}

[data-bc-bp-menu-external] li {
	padding: 0;
	height: 100%;
}

[data-bc-bp-menu-external] li a {
	border-bottom: 0;
	height: 100%;
	line-height: 50px !important;
}

[data-bc-bp-menu-external] li ul li a {
	line-height: 24px !important;
}

[data-bc-level]:after {
	font-family: 'LineIcons';
	content: "\ea58";
	position: relative;
	right: 5px;
	font-size: 10px;
	display: inline-block;
	transition: all 0.3s ease-in-out
}

/* [data-bc-level-open]:after {
	transform: rotate(-90deg)
} */

/* [data-bc-bp-menu-external-open]:after {
	transform: rotate(180deg)
} */

[data-bc-bp-menu-external-level]:after {
	font-family: 'LineIcons';
	content: "\ea58";
	position: relative;
	right: 5px;
	font-size: 10px;
	display: inline-block;
	transition: all 0.3s ease-in-out
}

[data-bc-bp-menu-external-single-node] li {
	height: 100%;
	line-height: 50px;
}

[data-bc-menu] [data-bc-bp-menu-external-single-node] li a {
	/* border: none; */
	/* border-left: 1px solid rgba(255, 255, 255, 0.13); */
	padding: 0 15px;
	/* position: relative; */
	/* top: 16px; */
}

[data-bc-menu] [data-bc-bp-menu-external-single-node] > li > a {
	line-height: 60px;
}

[data-bc-bp-menu-external-single-node] ul li a {
	padding: 5px 15px !important;
	top: 0 !important;
}

[data-bc-bp-menu-external-title] {
	background: #F4F4F4;
	/* border-bottom: 1px solid #F4F4F4 !important; */
}